[2014-07-29 15:42] afragen opened #3 "Testing for core functions unnecessary"
There is no need to test for `function_exists( [ add_action | remove_action | add_filters ]…` they are all present in core.

There's no harm, it's just that it's not necessary and could simplify your code even more.

[2014-07-30 12:54] #3 closed, assigned to nobody

[2014-08-14 13:41] bmarshall511 opened #13 "Remove development specific files from SVN repo"
@afragen Thanks for the review and kind words! I've been trying to figure out how to remove the development specific files like grunt from the SVN repo with no luck. I've tried to manually remove them using:

`svn delete http://plugins.svn.wordpress.org/zero-spam/trunk/grunt/ -m "cleanup"`

Which seems to work, but when I run the deploy script, it adds them back. Any ideas how I can make SVN ignor

[2014-09-11 19:57] cbergen opened #16 "enhancements?"
This is a great plugin and I don't doubt that this plugin currently works well. But there are two cases where spammers could defeat this plugin. I don't know how likely this is but, what if spammers started using systems that did process JS - such as phantomjs or selenium? Or, what if spammers simply added a new field to their bots "zero-spam"=>1?

There are a couple things that might defeat those

[2014-10-01 13:57] afragen opened #18 "Not working with Jetpack Comments"
This is a problem. I just heard about this from a user on Twitter and can confirm it.

[2014-10-01 16:01] #16 closed, assigned to nobody

[2014-10-01 20:01] #18 closed, assigned to nobody

[2014-10-02 10:56] TangRufus opened #19 "Integrating with Sunny v1.4.11"
The latest version (v1.4.11) of [Sunny](wordpress.org/plugins/sunny/) provides support for Zero Spam.
Sunny tells CloudFlare to ban an IP if Zero Spam blocks a spammy comment or spammy registration.

Do you think it is good to include a notice about Sunny in the `README` file?

[2014-10-10 23:08] shazahm1 opened #37 "nonce and Caching Plugins"
Will you not run into issues using a WP nonce with caching plugins?
https://github.com/bmarshall511/wordpress-zero-spam/blob/develop/lib/zero-spam.class.php#L672

If the page is still cached after the nonce expires ... valid comments and registrations will fail because the nonce will no longer validate since it is expired, right?

Maybe a site validation key like is done by [Gravity Forms Zero Spa

[2014-10-12 21:27] afragen opened #39 "Database errors"
With Query Monitor plugin, the following errors are identified.

| Query | Call Stack | Component | Error |
| --- | --- | --- | --- |
| ALTER TABLE wp_zerospam_log ADD PRIMARY KEY (zerospam_id) | Zero_Spam->plugins_loaded() do_action('plugins_loaded') | Core | Multiple primary key defined |
| ALTER TABLE wp_zerospam_log ADD KEY `type` (type) | Zero_Spam->plugins_loaded() do_action('plugins_loaded'

[2014-10-13 12:56] #39 closed, assigned to bmarshall511

[2014-10-13 13:00] bmarshall511 opened #41 "PHP notice on spammer logs page"
[code]

[2014-10-13 13:14] #41 closed, assigned to bmarshall511

[2014-10-13 13:23] bmarshall511 opened #43 "Adding ability to block IPs"

[2014-10-13 13:28] bmarshall511 opened #44 "Add ability to clear data from logs"

[2014-10-13 13:29] bmarshall511 opened #45 "Delete table when the plugin is uninstalled"

[2014-10-13 14:17] bmarshall511 opened #46 "Checkbox options don't save"
See: https://github.com/bmarshall511/wordpress-zero-spam/pull/38

[2014-10-13 14:42] bmarshall511 opened #47 "Add ability to turn on/off support for third-party plugins"

[2014-10-14 01:24] #43 closed, assigned to bmarshall511

[2014-10-14 02:40] afragen opened #50 "WP Coding Guidelines"
Sometime before 1.5 is pushed, let me know so I can go through and fix per WP guidelines. Tabs at beginning of lines, spaces in middle of lines, etc.

[2014-10-14 12:30] #46 closed, assigned to nobody

[2014-10-14 13:13] #47 closed, assigned to bmarshall511

[2014-10-14 14:03] #37 closed, assigned to bmarshall511

[2014-10-14 14:43] #45 closed, assigned to bmarshall511

[2014-10-14 20:34] #44 closed, assigned to nobody

[2014-10-15 02:55] afragen opened #58 "Remove options for enabling zero spam everywhere it works"
Theoretically every option could be unchecked and the plugin would do nothing. The raison d'être for the plugin is zero spam, I'd remove options to enable function in comments, forms and registration. A poll might be in order, but **decisions, not options**. :wink:

[2014-10-15 12:36] #50 closed, assigned to nobody

[2014-10-15 14:17] bmarshall511 opened #60 "Add paging to spammer log and blocked IPs"

[2014-10-15 14:19] bmarshall511 opened #61 "Add BuddyPress registration/login support"

[2014-10-15 14:23] bmarshall511 opened #62 "Add ability to manually block an IP"

[2014-10-15 14:32] shazahm1 opened #63 "Add bbPress support."
Add support for the bbpress new topic/reply form.

[2014-10-15 14:41] bmarshall511 opened #64 "Missing method documentation"
In zero-spam.class.php, the _plugin_check, load_zerospam_settings methods have no documentation.

The settings_page, field_wp_generator, field_log_spammers, field_spammer_msg_comment, field_spammer_msg_registration, field_spammer_msg_contact_form_7, field_cf7_support, field_gf_support, field_comment_support, field_registration_support methods have typos in their documentation.

[2014-10-15 22:44] #64 closed, assigned to bmarshall511

[2014-10-16 02:36] bmarshall511 opened #68 "Add share data functionality with Highfivery"

[2014-10-16 12:46] bmarshall511 opened #69 "Fix issue with settings not getting initially saved when the plugin is activated"

[2014-10-16 12:58] #69 closed, assigned to bmarshall511

[2014-10-16 14:21] bmarshall511 opened #71 "Add ability to auto block spam IPs"

[2014-10-16 14:37] #71 closed, assigned to bmarshall511

[2014-10-16 16:26] #60 closed, assigned to nobody

[2014-10-17 14:23] pippinsplugins opened #74 "All comments posted from wp-admin flagged as spam"
Since 1.5.0, I can't post any replies to comments from within the wp-admin. Frontend replies work fine.

Every comment I try to post gets the "Error processing comment". Based on the settings, it seems that this is happening because they are flagged as spam.

[2014-10-17 14:54] bmarshall511 opened #75 "Add additional stats/graphs"

[2014-10-17 14:59] #75 closed, assigned to bmarshall511

[2014-10-17 15:18] #74 closed, assigned to nobody

[2014-10-17 15:40] shazahm1 opened #80 "Database Errors on Activation"
On initial activation with Query Monitor enabled I get the following db errors:

SELECT *
FROM wp_zerospam_blocked_ips    Zero_Spam->_ip_check()
Zero_Spam->__construct()    Plugin: zero-spam   Table '{redacted}_sandbox.wp_zerospam_blocked_ips' doesn't exist
DESCRIBE wp_zerospam_log;   Zero_Spam->plugins_loaded()
do_action('plugins_loaded') Plugin: zero-spam   Table '{redacted}_sandbox.wp_zerospam_

[2014-10-17 19:55] #13 closed, assigned to bmarshall511

[2014-10-17 21:34] bmarshall511 opened #84 "Add the ability to see IP information"
i.e. country, state, city, etc.

@creativecatapps

[2014-10-18 00:02] afragen opened #85 "Multisite Network Setttings"
I've been working on this and I've got it working so if the user has Zero Spam network enabled then settings for all sites in the multisite can be set under the Network Admin. It still works in a single site install. My problem is if the plugin is not network enabled the settings aren't saving in the subsites.

I'm still working on this.

[2014-10-18 17:36] steelbrain opened #86 "Compress the banner image"
Hello Ben,
Thanks for creating such a wonderful tool, I've been using it from a few weeks and it is superb so far.

But the banner image on the settings page is ~218KB, and more than a minute to load on my internet connection at home. And if we resize the image to 470x152 and compress it using tinypng.com, it becomes ~32KB which is a pretty big difference. So, I would like to recommend to you to r

[2014-10-19 04:53] #62 closed, assigned to bmarshall511

[2014-10-19 05:04] #84 closed, assigned to bmarshall511

[2014-10-19 23:57] #86 closed, assigned to bmarshall511

[2014-10-20 12:24] bmarshall511 opened #89 "Make date/times match site's WP time, not servers"
https://wordpress.org/support/topic/several-issuessuggestions-for-version-15x

[2014-10-20 12:26] bmarshall511 opened #91 "Improve pagination"

[2014-10-20 13:45] #91 closed, assigned to bmarshall511

[2014-10-20 13:56] #89 closed, assigned to bmarshall511

[2014-10-22 00:36] #85 closed, assigned to nobody

[2014-10-22 01:48] #61 closed, assigned to bmarshall511

[2014-10-22 02:53] afragen opened #97 "WP_DEBUG files missing"
I think there are some files missing.

https://github.com/bmarshall511/wordpress-zero-spam/blob/develop/lib/zero-spam.class.php#L182-L186

[2014-10-22 14:24] #97 closed, assigned to nobody

[2014-10-30 13:56] richardW8k opened #101 "Gravity Forms issues"
Richard here from Rocketgenius (Gravity Forms).

We are getting a lot of support tickets from users experiencing form validation failures but no fields are marked as having failed validation. It appears you are running your integration via the gform_validation hook, for a spam check we would actually recommend using the gform_entry_is_spam hook. The submission will appear to complete successfully

[2014-11-17 11:37] motorradfahrer opened #102 "Contact Form 7 issue"
hi,

Zero Spam seems to work with Contact Form 7 as long as I keep the standard form with name, email, subject and text. But when I add optional used text fields for example for the address of the sender Zero Spam does no longer allow to send the mail. As soon I deactivate the Zero Spam plugin or just the Contact Form 7 support does it work and the mail is sent.

[2014-11-18 23:52] #101 closed, assigned to bmarshall511

[2014-12-11 15:07] eye8 opened #106 "JS not found when WP_DEBUG = TRUE"
Hi,

I downloaded your plugin from wordpress.org and am evaluating it to be used on our site. I noticed an obvious error. In your zero-spam.class.php, you are including the non-minified JS file if WP_DEBUG is TRUE. However that file is not included in your Grunt build. Please see the screenshot below.

![screen shot 2014-12-11 at 10 00 45 am](https://cloud.githubusercontent.com/assets/1659798/5396

[2015-01-08 11:52] Coopeh opened #108 "Multisite Auto Block IP"
Hi,

There's a problem when the AutoBlock IP setting is enabled if using with Multisite. It will block the IP but not show it in the Multisite settings window log, you have to remove via SQL if it's a false positive. I'm assuming this is because it logs them per site instead of cross-network. It would be good to pull all of the IPs through from all sites and also give the option to block it networ

[2015-01-10 12:59] g01010 opened #109 "Exlude zero-spam.js from minification in WP Rocket plugin"
Hi

I noticed that when using Zero Spam with WP Rocket (on multisite), if I didn't exlude the zero-spam.min.js from being minified, users were unable to leave comments. Excluding the file in WP Rocket fixes it.

[2015-02-12 13:03] sltmunky69 opened #110 "IP Block Timeout Period"
Feature Request - Since DHCP exists on the internet and abound, perhaps there should be an user-configurable timeout period to automatically flush entries from the blocked IP table. As far as I can tell unless if I am mistaken, on version 1.5.3, it seems to be an indefinite ban unless if you manually intervene and go in to delete the entries out of the table. The problem being that since IP addres

[2015-02-12 19:08] thefrosty opened #111 "Multisite tables"
I can't imagine it necessary to have two tables per blog in Multisite. Imagine the amount of additional tables in a network enabled site with thousands of blogs.

If the tables are necessary I think a global _log and _ip table would suffice.

[2015-03-17 18:26] norcross commented on #106
noted as well. also, the version number doesn't match the plugin (unless that's the JS version)

[2015-04-22 11:26] pichogve opened #112 "Support for Formidable Pro?"
Great plugin! is there a way to get it to work under with Formidable Pro?

[2015-05-14 07:01] AlanSparks opened #113 "Registration"
Hi
I use this plugin on my one site and it works perfectly - no spam.
On my second site it prevents the registration process from completing. Could you possibly help?
Thanks

[2015-05-15 09:44] brandbrilliance opened #114 "Support for Ninja Forms"
Please can you also add support for Ninja Forms (although it already has a honeypot).

[2015-06-10 21:53] Mte90 opened #115 "Fatal error: Maximum execution time of 30 seconds"
In the spammer log i get:

[code]

I want to clean the log but is impossible :-/

[2015-06-16 19:40] vzeazy opened #116 "Integration Into Any Form - Through Documentation"
Hey there,

Looking at the issue queue a lot of people need integration into their own forms. One thing that would be amazing is to simply provide a function or hook that brings zero-spam into any form you wish.

Looking at the code it shouldn't be much different than how's it already implemented for Gravity Forms.

Simply document the process of what is required for zero-spam to do what's needed.

[2015-06-20 15:02] A5hleyRich commented on #106
:+1: Non minified versions should be included. The conditional should also use the `SCRIPT_DEBUG` constant.

[2015-07-02 22:39] bmarshall511 commented on #116
Great idea! I'll add a class (`zerospam`) that can be added to any form. When added, it'll add the needed JS then the user will just need to write their own hook.

[2015-07-03 06:57] vzeazy commented on #116
Happy to contribute. Let me know if you need any help.
Take care.

[2015-07-03 12:44] bmarshall511 commented on #116
Always looking for good contributors. If you wanna take a stab at it, feel free.

[2015-07-03 13:17] bmarshall511 commented on #116
Actually, think I've got this one. Thanks though.

[2015-07-03 13:20] bmarshall511 commented on #115
Try to increase the max time on your server or manually delete the data from the zerospam_log table.

[2015-07-03 13:23] Mte90 commented on #115
The table have 60mb of data, maybe a simple button empty data will not bad.
My hosting don't have disabled the max time settings.

[2015-07-03 13:27] bmarshall511 commented on #114
Will do. It'll get added in the next release.

[2015-07-03 14:33] bmarshall511 commented on #113
Sure, going to need more information.

[2015-07-03 14:57] bmarshall511 commented on #109
Going to need a little more information. Are you getting any JS errors?

[2015-07-03 14:58] bmarshall511 commented on #106
This will be taken care of in the next release.

[2015-07-04 04:01] bmarshall511 commented on #116
Just released 2.0.0 which has this included. Thanks for the idea!

[2015-07-04 04:01] #116 closed

[2015-07-04 04:02] bmarshall511 commented on #114
Just released 2.0.0 which has this included. Thanks for the idea!

[2015-07-04 04:02] #114 closed

[2015-07-04 04:02] bmarshall511 commented on #106
2.0.0 released, this should no longer be a problem.

[2015-07-04 04:02] #106 closed

[2015-07-04 04:04] bmarshall511 commented on #19
2.0.0 released which includes this. Thanks!

[2015-07-04 04:04] #19 closed

[2015-07-04 06:38] vzeazy opened #118 "Contact Form 7 - Ajax Error"
Hi Ben,

Thanks for the great work with version 2 (added the hook to a Mailchimp form successfully).
However, was testing something and it looks like there might be some issue with Contact Form 7 now.

On form submission I am getting an ajax error:
"Unexpected token T"

And infinite spinning icon.

However, if I click submit a second time, the form submits.

All the best.

[2015-07-04 14:07] bmarshall511 commented on #118
Yeah, this is a tricky one. Looks like the hidden form field doesn't get submitted with the AJAX call the first time. It's probably getting called before the code that adds the hidden input get's ran. Which is why it works the second time.

[2015-07-04 14:16] bmarshall511 commented on #118
Got a fix, will go out hopefully today: https://github.com/bmarshall511/wordpress-zero-spam/pull/119

[2015-07-04 14:16] #118 closed

[2015-07-05 22:51] vzeazy commented on #118
That was fast! :)
Issue is gone.

[2015-07-09 14:37] bmarshall511 opened #121 "Mailchimp form integration"
Feature request via email:

Thanks for the amazing Wordpress plugin (Zero Span). I've been using it with great results on a bunch of sites and the multi-site support is fantastic. One thing I wish it had is Mailchimp form integration. Was going to try and code this, but thought I should perhaps reach out to you first.

After looking at how Zero Spam it is added to gravity forms I think adding to M

[2015-07-09 23:59] vzeazy commented on #121
Hey Ben,

Thanks for adding this to the feature request. Since I emailed this to you, you've actually added the zero spam hook. However, the mailchimp-for-wordpress plugin only has a hook that will allow class addition to the containing div and not the form element itself (https://mc4wp.com/kb/add-css-class-to-form-element/).

What I setup initially was:

function mywebsite_validate_mc4wp_form( $v

[2015-08-17 08:04] eremo opened #122 "respect https connections to wordpress"
I started using zero spam on one of my blogs recently. There is one thing which I think could be improved:
When you log in to wordpress via https but your blog address is a simple http address the zero spam buttons (at the bottom of the "Spammer Log" page for going through the history of spam actions try to open the next page via http, only. This may require a new unprotected login.

I suggest tha

[2015-09-15 18:58] bmarshall511 commented on #122
@eremo Unable to reproduce. Ensure your site setting have been updated to use https://

[2015-09-15 18:58] #122 closed

[2015-11-30 15:03] bmarshall511 opened #123 "Feedback to improve internationalization"
Hey Ben,

Wanted to provide some quick feedback on how you could improve the internationalization of the plugin.

I noticed in the /src/ZeroSpam/Access.php file you have the following:

public function ip_check() {
    if ( ! is_user_logged_in() && zerospam_is_blocked( zerospam_get_ip() ) ) {
      do_action( 'zero_spam_ip_blocked' );
      die( __( $this->settings['blocked_ip_msg'], 'zerospam' )

[2016-01-14 12:05] slaFFik opened #124 "Fork link in plugin admin area"
It leads to https://github.com/bmarshall511/wordpress-zero-spam/fork, which returns 404 if user is logged out. And that is frustrating.
Is it better to provide the link just to the repo? https://github.com/bmarshall511/wordpress-zero-spam

[2016-01-14 12:06] slaFFik opened #125 "Protected time in Summary section is wrong"
I have activated the plugin today, and on Spammer Log page in Summary I see this:

[code]

Which is strange :)

[2016-01-14 12:08] slaFFik commented on #125
And here is 1 more:
    Per day
    -5

[2016-01-27 16:23] 082net opened #126 "Memory leak on spam log page"
I have 500,000 rows on spam log table and when I navigate to 'Spammer Log' tab, there's no spam logs but PHP memory leak message appears.

I've found that's because of SQL query that request all rows in table at once.

"src/ZeroSpam/Admin.php:523"
$all_spam        = zerospam_get_spam();
=> SELECT \* FROM wp_zerospam_log ORDER BY date DESC

Maybe we better parse logs with not PHP but SQL queries an

[2016-01-27 18:37] 082net commented on #126
Attached Instant patch for huge log table

[huge-log-table.patch.zip](https://github.com/bmarshall511/wordpress-zero-spam/files/107125/huge-log-table.patch.zip)

[2016-01-28 03:54] 082net commented on #115
It may related to #126

[2016-02-17 17:21] helgatheviking opened #128 "Log spam errors for ninja forms submissions"
I'm having multiple people tell me they can't submit my ninja forms contact form, but the zero spam settings say there should be an error message in the case of a spam submission. Would zero spam prevent certain users from being able to submit a Ninja forms contact form?

Of course, in typical debug hell, I can submit the form just fine. :) So, instead I was trying to look through the spam logs an

[2016-04-20 02:55] jaredatch opened #129 "Integration with WPForms"
First, big fan of the plugin. Been using it on client sites for a good while with great success 👍

I have a new and rapid growing forms plugin, WPForms (https://wordpress.org/plugins/wpforms-lite/)

I'd love to get WPForms officially integrated. We currently offer our own honeypot (though not near as complex as WZP) and well as reCAPTCHA support, but would like to integrate with WPZ to offer users

[2016-04-20 03:00] bmarshall511 commented on #129
Sounds good to me, go for it!
On Apr 19, 2016 9:55 PM, "Jared Atchison" <notifications@github.com> wrote:

[2016-04-22 21:24] jaredatch opened #131 "Remove geoip feature"
Sadly, the freegeoip.net service is gone and and it appears for good. The cost/bandwidth it took was pretty ridiculous apparently.

More info here https://github.com/fiorix/freegeoip/issues/165

While that was a nifty feature for the plugin, I don't think it's going to be easy to find a reliably free replacement (I already looked for another project).

Due to this service being down, right now:

-

[2016-04-22 21:33] bmarshall511 commented on #131
@jaredatch Sorry, just saw this one. That's unfortunate, please do remove and feel free to create other pull requests.

Great site by the way!

[2016-04-22 21:36] bmarshall511 commented on #129
@jaredatch All set, just finished the 2.1.0 release. Thanks again!

[2016-04-22 21:36] #129 closed

[2016-04-22 21:39] jaredatch commented on #129
Whoops, looks like the version on .org is 2.1.1 instead of 2.1.0 ;)

Been there, done that. 😆

[2016-04-22 21:48] bmarshall511 commented on #129
Yeah, forgot to add you as a contrib in the readme file so you show up on the plugin page. Made the update after I released 2.1.0, so did another quick release.

[2016-04-25 19:56] GeertHauwaerts commented on #131
Or you could just swap to freegeoip.**io** :)

[2016-04-25 20:07] jaredatch commented on #131
I thought about that when I saw that thread. But that was setup 19 days ago with a supposed "free" digital ocean account.

My concern is if the switch is made, how long until everyone else hops on board and that service is also overloaded and killed.

We all know in the hosting world nothing is free or unlimited despite what might be said 😉

Guess we could give it a go and see. Then if that goes a

[2016-05-15 17:18] jaredatch commented on #131
For now service has been restored as it looks like the domain was forwarded/proxied to a new server. So we can close this for the time being. I'll keep an eye out.

[2016-05-15 17:18] #131 closed

[2016-05-15 19:10] bmarshall511 commented on #131
@jaredatch Thanks for the follow up!

[2016-07-05 17:05] karpstrucking opened #132 "Not compatible with Gravity Forms that use paging and ajax"
Using the latest version of Gravity Forms, Zero Spam, WordPress on a default theme with no other plugins installed.

Clicking the submit button on the final page of the form triggers the throbber to spin, but the ajax call gets nothing back except the configured response from Zero Spam. The form never submits and the entry is not stored.

Let me know if you need any other details.

[2016-07-05 22:08] jaredatch commented on #132
Is this something that worked previously and just started breaking, or are you just encountering this?

GravityForms 2.0.x was just released and I've seen reports of issues, so I wouldn't be surprised if this is related.

With that said, I haven't read any specific reports of the `gform_pre_submission` action changing which is what the ZS plugin uses.

For grins you may see if you can use GravityF

[2016-07-06 13:47] karpstrucking commented on #132
@jaredatch Just encountered this for the first time recently. I was able to also recreate this using GF 1.9 series. To clarify, the form is not submitting and the submission does not show up in Spam.

![image](https://cloud.githubusercontent.com/assets/999261/16619811/bdcc54e8-435d-11e6-9a58-33b1f48d5c46.png)

It looks like the Zero Spam key isn't being carried over from page to page.

AJAX disabl

[2016-07-06 13:59] karpstrucking commented on #132
It seems that the work in zerospam.js is not being triggered on successive page submissions. If I manually trigger this code after submitting the first page, the second (final) page includes the zerospam.key and submits successfully.

[2016-07-06 14:05] jaredatch commented on #132
The paging navigation triggers submit (https://cl.ly/0u0g271v1n3T) which is what passes they key.

https://github.com/bmarshall511/wordpress-zero-spam/blob/master/src/js/zerospam.js#L27

The actual submit button I believe doesn't actually fire submit though (https://cl.ly/3a3Z1M34020M). So since submit doesn't trigger, the key isn't getting passed, which flags as spam, and results in a `die()` dur

[2016-07-06 14:08] karpstrucking commented on #132
That looks like it will work.

[2016-07-06 14:14] karpstrucking commented on #132
JS isn't my strong suit, so feel free to tear that apart if it's the not the best approach.

[2016-07-06 16:06] jaredatch commented on #128
@bmarshall511 I'd go ahead and close this, #130 likely fixed it :)

[2016-07-06 16:07] bmarshall511 commented on #128
@jaredatch Thanks again!

[2016-07-06 16:08] jaredatch commented on #124
@bmarshall511 I tend to agree here, if you want to sneak this into the next update :)

[2016-07-06 16:08] bmarshall511 commented on #124
@jaredatch Will do.

[2016-07-06 16:11] #128 closed

[2016-07-06 16:12] bmarshall511 commented on #124
Updated: https://github.com/bmarshall511/wordpress-zero-spam/commit/05a5ffb90cf86b86a4b5e1d1d1d4892d4971f6ec

[2016-07-06 16:12] #124 closed

[2016-07-06 16:33] bmarshall511 commented on #132
@jaredatch I've pulled this into master with a few other minor updates. Needed to compile the scripts after this update. Could you pull down master and give it a go again to make sure all went well after the scripts were compiled?

[2016-07-06 17:26] jaredatch commented on #132
Alright, so it is only partially working.

It works with AJAX forms that are paginated, that's it.

It does NOT work with
- AJAX forms (not paginated)
- Normal forms

Basically it doesn't work for 95% of users. ;)

I _think_ the issue might be a load order one. The actions we bind to `gform_post_render` never run (except with ajax pagination). I suspect it might be because GF loads their assets ea

[2016-07-06 17:27] jaredatch commented on #132
Only other thing I noticed testing out master is need to update the readme.txt/changelog 😀

[2016-07-06 17:54] karpstrucking commented on #132
Ugh, sorry - I guess I shouldn't have removed line 20. Do you need an updated PR or does master have your updated version?

[2016-07-06 17:56] jaredatch commented on #132
@karpstrucking it wasn't you, I think there would have been issues regardless trying to use that event unless we changed the WPZS load order. Using click will just be a bit more failsafe :) (at least hopefully LOL)

[2016-08-23 15:54] ethicalhack3r opened #135 "Security Issue"
Hi,

The plugin has a serious security issue which was reported to us (wpvulndb.com). I have tried to contact two of the developers via email without success. Just found this Github repository now. WordPress are aware of the issue so they may have contacted you already.

Please email team at wpvulndb.com for the technical details.

Thanks,
Ryan

[2016-08-23 21:45] bostonchic commented on #135
Hmm, I tried to delete it on three sites after deactivating and it won't uninstall.

[2016-08-24 14:13] jaredatch commented on #135
ping @bmarshall511

[2016-08-24 16:49] EusebiuOprinoiu opened #136 "Uninstall Issue"
Hello!

I tried to temporarily remove your plugin until [this security issue](https://wpvulndb.com/vulnerabilities/8608) is resolved and I noticed the uninstall fails. After a little digging, I found that some of the checks in the uninstall.php file are failing, causing the uninstall to end prematurely.
My tests suggest that there is a combination of checks that return false since the plugin unins

[2016-09-08 15:05] katart opened #137 "Is this project over?"
I don't see this plugin in the Wordpress Plugin repo and no responses here. The last issue I noticed is the Security problems.

Should I look for a different plugin?

[2016-09-08 16:26] jaredatch commented on #137
For the time being it's probably best.

I think @bmarshall511 likely got busy with life or possibly doesn't work with WordPress much anymore.

Hopefully he's OK and he can provide an update and some point!

The good news is there are similar alternatives on the WordPress.org repo

[2016-09-08 17:16] katart commented on #137
Good point. We hope to hear from him soon just to let us know he's OK.

It did look like he was working with Drupal as well. Thanks @jaredatch

[2016-09-08 17:16] #137 closed

[2016-09-12 06:15] janemanthorpe commented on #135
Hi,
I had the same issue but deleted via my control panel with Hostgator I am hosted with. Depending who you are hosted with , you need to go into the WP content area, then plugins and then find Zero spam plugin and delete all the files for your directory. Make sure first you have deactivated the plugin from your wordpress dashboard and done a backup first (just in case)  Cheers Jane

[2016-09-12 12:58] bostonchic commented on #135
Yes, I deleted via FTP... it's a shame that users who maintain their own site may not understand how to get rid of it.  :(

[2016-09-12 20:36] janemanthorpe commented on #135
Yes, you are right. Shame on the plugin creator just abandoning it.

[2016-10-07 00:50] qwales1 commented on #113
Ran into this today. I migrated a site to a new host and all new registrations were being blocked. I'll let you know if I find anything.

[2016-11-11 23:26] geckoseo commented on #135
?? It would be decent at the very least if the reason for the removal from the WP repo was explained on the authors website.

Instead we can apparently still download and use the plugin directly from here?

Is this not somewhat irresponsible? Why would anyone still allow a plugin with security holes in it to be downloaded?

[2016-11-19 22:19] thiagolcks commented on #135
I've made a PR to fix this issue.

[2016-11-19 22:50] bmarshall511 commented on #135
@thiagolcks Thanks for the help, haven't had time to devote to it. Just submitted the plugin again to get back in the repo.

And @geckoseo and @janemanthorpe how about instead of bitchin' you contribute... shame shame. Try looking up what open source means.

[2016-11-19 22:50] #135 closed

[2016-11-19 22:52] bmarshall511 commented on #126
@082net Thanks for the contribution.

[2016-11-19 22:52] #126 closed

[2016-11-20 14:49] bmarshall511 commented on #136
This will be fixed in the next release thanks to @thiagolcks

[2016-11-20 14:49] #136 closed

[2016-11-21 20:29] bmarshall511 commented on #109
Closing since I'm unable to reproduce and no other information has been provided.

[2016-11-21 20:29] #109 closed

[2016-11-21 20:30] bmarshall511 commented on #115
This should be fixed now, let me know if you run into anymore issues.

[2016-11-21 20:30] #115 closed

[2016-11-21 20:31] #68 closed

[2016-11-21 20:32] #58 closed

[2016-11-29 10:44] 082net commented on #126
It's my pleasure

Thank you

[2016-12-15 08:51] bigdawggi commented on #132
This type of fix seems to be working on my client's site for gravityforms.  I hooked on 'submit' and it works for us, but your solution (attaching to 'click') may be better for multi-page forms.  Any idea when this may be merged into master?

[2016-12-15 13:42] bmarshall511 commented on #132
@bigdawggi If you're talking about https://github.com/bmarshall511/wordpress-zero-spam/pull/133, it's already been merged a while back. Currently there's not any outstanding PR. If you have a fix for the GF issue, feel free to submit it. I don't have Gravity Forms so unable to test/fix.

[2016-12-23 14:17] bmarshall511 commented on #132
I just pushed a fix for what I'm hoping will fix the GF issue. Unable to test since I don't have the plugin, so let me know if there's still problems.

[2016-12-24 06:25] KrashKartMedia commented on #132
Hey Guys. The issue is with Line 24 on https://github.com/bmarshall511/wordpress-zero-spam/blob/master/src/js/zerospam.js

You have this set to -  forms += ", #gform_2"; I dont have a form with an ID of 2. I have ID of 1 & 3.

So I changed line 24 and added a new line to 25.

forms += ", #gform_1";
forms += ", #gform_3";

Both Forms work now.

So we need to come up with a way to look for a for wit

[2016-12-24 10:43] kevinwhoffman commented on #132
I commented [here](https://github.com/bmarshall511/wordpress-zero-spam/commit/eeede1107c16ea5a1e842fe16189e0b9fe240691#commitcomment-20289944) with a fix to select any Gravity Form. As @KrashKartMedia described, it's currently only targeting Gravity Forms with an ID of 2.

[2016-12-27 17:10] bmarshall511 commented on #132
It's been merged and will be included in the next release today.

[2016-12-27 17:10] #132 closed

[2017-01-09 17:27] jonkratz opened #141 "Ability to whitelist IP address"
This is a feature request: the ability to whitelist an IP address for submissions without needing js. One use case for this is automated form testing that is legitimate but looks like spam. You could whitelist the IP where the testing is coming from.

[2017-02-02 16:30] vzeazy opened #142 "Conflict with WPI CLI"
Hi Ben,

Not sure where the conflict is exactly, but the the plugin results in "Access Denied" being thrown by WP_CLI. This is very unfortunate as it is a key tool for most developers.

Some potential leads on to what's causing the issue:
https://github.com/wp-cli/wp-cli/issues/477

In the meantime, I'm stuck using "--skip-plugins=zero-spam" to execute wp_cli commands.

[2017-04-26 15:30] bit9labs opened #144 "No zerospam field created for CF7"
I installed the Zero Spam plugin and have CF7 installed. I enabled the CF7 support in Zero Spam, but do not see any zerospam element in the form. When looking through the code I only see the validation check to see if the $_POST['zerospam'] is there.
Please assist? Is this a field i have to add manually?

[2017-04-26 15:31] bmarshall511 commented on #144
That field is added only when the form is submitted, so no, don't need to add it manually.

[2017-04-26 15:31] #144 closed

[2017-04-26 15:38] bit9labs commented on #144
Ok I see it now in zerospam.js. Thank you.

[2017-05-09 13:32] davdebcom commented on #80
FYI:
https://wordpress.storelocatorplus.com/turn-off-dbdelta-describe-errors/

[2017-12-04 19:04] zlanich opened #145 "Consider Supporting Toolset/CRED?"
WP Toolset's CRED is a HUGE player in the WP world, and still has ReCaptcha as its default. Would you consider addign CRED to your supported plugins?

CRED: https://wp-types.com/home/cred/

I know you can use the cred_form_validate hook to add validation easily. It would be amazing to not have to use ReCaptcha, and 1000's of user would love you for it :D

[2018-02-23 20:49] smfatwork opened #146 "If IP Auto Block is on and the IP is UNKNOWN - all access to site will be blocked"
We have a site in an environment where the function zerospam_get_ip() is returning UNKNOWN for all requests, once a form submission was determined to be spam it added a block for the IP "UNKNOWN" and from that point on all access to the site from all IPs was blocked.

Possibly an activation check for the ability to get ip and/or not adding a block for IP if the IP is "UNKNOWN"?

We've turned off I

[2018-09-06 19:49] jpBenfica commented on #141
Recently I got my IP blocked, it would be important to add a white IP list.

[2019-03-20 05:45] alexlii1971 opened #147 "Notice: Undefined index: blocked_ip_msg Admin.php on line 373"
Hello,

With wordpress 5.0, it show error at frontend:

Notice: Undefined index: blocked_ip_msg in /var/www/mysite.com/htdocs/wp-content/plugins/zero-spam/lib/ZeroSpam/Admin.php on line 373

These three plugin are activated:
https://github.com/DevriX/multisite-auth
https://github.com/DevriX/muauth-zero-spam
https://github.com/bmarshall511/wordpress-zero-spam/

Thanks

[2019-06-04 15:45] #147 closed

[2019-06-04 16:35] bmarshall511 commented on #80
Fixed: https://github.com/bmarshall511/wordpress-zero-spam/pull/148

[2019-06-04 16:35] #80 closed

[2019-06-04 16:38] bmarshall511 commented on #146
Hopefully this will fix your issue: https://github.com/bmarshall511/wordpress-zero-spam/pull/143

[2019-06-04 16:38] #146 closed

[2019-09-09 12:49] Typiary opened #166 "conflict blocking cron jobs?"
Hi Ben,

I've used your plugin for years and love it. I've never had an issue like this. On my site running WooCommerce and the WC Subscriptions plugin, I noticed that some parts of the Subs admin were not updating. Investigation by my server/host and WooCommerce support found that the cron was stalled so scheduled events weren't happening. We looked for PHP errors in the logs, nothing seemed wron

[2019-09-16 12:27] Bobo8 opened #167 "Auto IP Block accidentally bloks all IPs"
Hi, once a year my web is inaccessible to (I think) everybody (there is only message form Blocked IP Message). When I am logged in then the web works.

If I remember well, last time I solved it by clearing the (Comet) cache. Now I solved it by setting Blocked IP Message off and disabling and enabling the cache. Even when I set it on, then the web works.
I understand, that it doesn't help you much

[2019-11-06 18:44] viktorix opened #168 "Compatability with Astra theme"
Astra theme changes comment form's ID to `#ast-commentform`, which makes it incompatible with Zero Spam since it has `#commentform` ID hardcoded.

It would be great if there was an option to specify a custom ID for the comment form in the settings. Or at least add `#ast-commentform` to the list, since the Astra theme is very popular.

[2020-01-07 09:11] DavidMillington-CD opened #169 "Log "skip to end" button actually skips back to page 1"
Hi, when I click the >> at the bottom of the log the expected behavior is for it to jump to the final page.  Instead it jumps back to page 1.  Reproduced on 3 different sites.

Plugin v 3.1.1

[2020-05-26 21:03] cmgustin opened #171 "Possible technical bug with Ninja Forms"
I installed the latest version of the plugin on a couple of my client sites last week since they were getting a barrage of spam in Ninja Forms. I checked in a few days later and noticed they were still getting spam, which I thought was strange since this plugin has worked really well for my Gravity Forms sites.

I dug into the code a little and noticed 2 possible issues. In the file 'js/zerospam.j

[2020-07-15 13:30] bmarshall511 commented on #171
I know it's been awhile, but... life. Finally had some time to update the plugin & did a complete rewrite with version 4. I've included your findings in the new version as of v4.1.1.

Thanks for looking into that!

[2020-07-15 13:30] #171 closed

[2020-07-15 13:31] bmarshall511 commented on #168
I know it's been awhile, but... life. Finally had some time to update the plugin & did a complete rewrite with version 4. I've included your findings in the new version as of v4.1.1.

Thanks for looking into that!

[2020-07-15 13:31] #168 closed

[2020-07-15 13:33] bmarshall511 commented on #169
I know it's been awhile, but... life. Just did a complete rewrite of the plugin for v4. Logging isn't there yet, but will be coming soon & will ensure you don't run into this kind of issue again.

Thanks for reporting it!

[2020-07-15 13:33] #169 closed

[2020-07-15 13:33] bmarshall511 commented on #167
I know it's been awhile, but... life. Just did a complete rewrite of the plugin for v4. With the new version, you should no longer encounter this issue.

Thanks for reporting it!

[2020-07-15 13:33] #167 closed

[2020-07-15 13:34] bmarshall511 commented on #166
I know it's been awhile, but... life. Just did a complete rewrite of the plugin for v4. With the new version, you should no longer encounter this issue.

Thanks for reporting it!

[2020-07-15 13:34] #166 closed

[2020-07-15 13:34] bmarshall511 commented on #142
I know it's been awhile, but... life. Just did a complete rewrite of the plugin for v4. With the new version, you should no longer encounter this issue.

Thanks for reporting it!

[2020-07-15 13:34] #142 closed

[2020-07-15 13:35] bmarshall511 commented on #141
I know it's been awhile, but... life. Just did a complete rewrite of the plugin for v4. With the new version, you should no longer encounter this issue.

Thanks for reporting it!

[2020-07-15 13:35] #141 closed

[2020-07-15 13:35] bmarshall511 commented on #125
I know it's been awhile, but... life. Just did a complete rewrite of the plugin for v4. Logging hasn't been reimplemented yet, but will be soon & will ensure you don't run into this issue again.

Thanks for reporting it!

[2020-07-15 13:35] #125 closed

[2020-07-15 13:36] #113 closed

[2020-07-15 13:37] bmarshall511 commented on #111
I know it's been awhile, but... life. Just did a complete rewrite of the plugin for v4. Logging is hasn't been reimplemented yet, but will ensure you don't run into this when it does.

Thanks for reporting it!

[2020-07-15 13:37] #111 closed

[2020-07-15 13:38] bmarshall511 commented on #108
I know it's been awhile, but... life. Just did a complete rewrite of the plugin for v4. Auto blocking of IPs hasn't been implemented yet, but will ensure you don't run into this issue when it is.

Thanks for reporting it!

[2020-07-15 13:38] #108 closed

[2020-07-15 13:38] bmarshall511 commented on #102
I know it's been awhile, but... life. Just did a complete rewrite of the plugin for v4. With the new version, you should no longer encounter this issue.

Thanks for reporting it!

[2020-07-15 13:38] #102 closed

[2020-07-15 14:05] bmarshall511 opened #173 "Support for Divi forms"
https://wordpress.org/support/topic/divi-forms/

[2020-07-15 14:06] bmarshall511 opened #174 "Support for Caldera Forms"
https://wordpress.org/support/topic/does-this-plugin-work-with-caldera-forms/

[2020-07-15 14:50] jaredatch opened #175 "Admin settings PHP notices"
Activating v4.1 on a fresh WP install triggers PHP notices when viewing the ZS admin settings.

[code]

[2020-07-15 14:54] jaredatch opened #176 "Spam Check settings can't be disabled"
See https://a.cl.ly/Wnubn0Gz

These settings default to enabled but can't be disabled.

If you uncheck them and save the settings, when the settings page refreshes they are still checked.

[2020-07-15 16:01] afragen commented on #175
Saving preferences should fix this.

[2020-07-15 17:03] bmarshall511 commented on #176
@jaredatch Thanks for the catch! Just submitted a fix into master (https://github.com/bmarshall511/wordpress-zero-spam/commit/f2badbba7eb303ae60619bf7fabc9265c7876292). If you have a chance, can you test it out before I release? Also, can you shoot me your WP username & I'll add you to the contrib for helping test?

[2020-07-15 17:10] #175 closed

[2020-07-15 17:10] bmarshall511 commented on #175
@jaredatch Thanks again! Submitted another fix into master (https://github.com/bmarshall511/wordpress-zero-spam/commit/da0659daa66e45208340c9bc754d10bc507ec49b).

[2020-07-15 17:16] jaredatch commented on #176
Yep, I've cloned `master` and pulled latest changes - settings now save as I'd expect :)

wp.org username is also `jaredatch`.

Great work, excited to see the project become active again!

[2020-07-15 17:18] bmarshall511 commented on #176
Thanks again @jaredatch , I'll get you added in the next release.

[2020-07-15 19:13] jaredatch opened #177 "Caching conflicts"
In the v4.x update, I see that the key logic was changed. I see what you're doing, trying to be a bit more creative to combat the spammers. But with that said, I _think_ this may be a breaking change for a large portion of WPZS users, possibly the majority.

Prior to the 4.x release, WPZS used an option to store the key.

In 4.0, this changed to rely on cookie tracking. The issue is the cookies ar

[2020-07-15 20:06] bmarshall511 opened #178 "JS errors for some 3rd-party plugins"
From the WordPress.org repo support forum page: https://wordpress.org/support/topic/how-do-you-integrate-with-ninja-forms/#post-13127907

[2020-07-15 20:09] #178 closed

[2020-07-15 20:19] #177 closed

[2020-07-15 20:20] bmarshall511 commented on #177
@jaredatch Good point! I've updated it so it no longer uses cookie, instead goes back to using the site option. Let me know if you see any problems going that route (in master): https://github.com/bmarshall511/wordpress-zero-spam/issues/177

[2020-07-15 20:30] bmarshall511 opened #179 "Add ability to uninstall options"
Add ability to uninstall the plugin, (i.e. remove any DB records related to it).

[2020-07-15 20:34] bmarshall511 opened #180 "Add another option to handle spam detections vs. just redirect"
https://wordpress.org/support/topic/do-not-redirect-spammers/

[2020-07-15 20:47] #179 closed

[2020-07-15 21:15] #180 closed

[2020-07-15 22:13] bmarshall511 opened #181 "Re-implement logging"
v3 of the plugin provided logging & statistics. Need to re-implement in v4.

[2020-07-16 00:39] bmarshall511 commented on #181
@jaredatch I'm gonna have a big commit for this soon. Wondering if you would mind testing it all to make sure all goes well?

[2020-07-16 00:46] jaredatch commented on #181
Sure a can take a look tomorrow.

[2020-07-16 09:34] nam1962 opened #182 "Last update creates fatal error"
Hi, thank you for your work that I use for years.
Here a problem I had on my sites with the last update :
[code]
I had the same error with various configurations : apache or litespeed, litespeed with and without lscache.
php 7.4

[2020-07-16 12:11] bmarshall511 commented on #182
That looks like you still might be using the older v3 plugin. That call it only used in the older version, the newer version doesn't have that. Try deleting the plugin folder for wordpress zero spam, then reinstalling

[2020-07-16 12:48] bmarshall511 commented on #181
@jaredatch Think I'm ready now. Ran into an issue with older version on MySQL not supporting the JSON datatype, but just threw up a fix. As soon as you give me the green light, I publish a new release.

[2020-07-16 13:09] nam1962 commented on #182
Oh yes !
That's strange : all my sites had the problem, whether fatal error, or deactivated zero spam.

I had to ftp rename the directory as "zero_spam.bak", then manually update (I usually use `add_filter( 'auto_update_plugin', '__return_true' ); // Plugins` ) and had 4.1.2 & 4.1.3 updates.

With 4.1.3 no fatal error, but 3 problems :
1. into the void disappeared in favor of a goo redirection, th

[2020-07-16 16:31] bmarshall511 opened #183 "MySQL missing table error on first load after upgrade"
https://github.com/bmarshall511/wordpress-zero-spam/commit/bea5846548fe684d565f178a0c1343fe80803d8b#commitcomment-40658704

[2020-07-16 16:44] bmarshall511 commented on #181
@jaredatch Thanks for digging into that! Just pushed an update that resolves most of what you found. Think we're ready to publish a new release now? Would like to get logging enabled ASAP so user's can at least start collecting that data. Future updates will include more functionality & reporting based on it.

[2020-07-16 16:52] bmarshall511 commented on #182
1. This is configurable via WP Zero Spam > Settings. You have the ability to choose redirect you throw a 403 Forbidden error.
2. Yeah, unfortunately this rewrite is literally a complete rewrite in favor of emerging trends, cleaner code and new WP features since the original build of the plugin.
3. Logging is going to be re-implemented in the next release, hopefully sometime today.

[2020-07-16 16:52] #182 closed

[2020-07-16 16:54] jaredatch commented on #181
Changes look good. You're doing great iterating quickly 😎

[2020-07-16 17:15] bmarshall511 commented on #181
Thanks! Just release v4.2.0 in the repo. Keeping fingers crossed. Closing this for now. Will start working on the addition of stats & ability to add/automate blocked IPs

[2020-07-16 17:15] #181 closed

[2020-07-16 17:16] bmarshall511 opened #184 "Add log charts & stats on the dashboard"

[2020-07-16 17:16] bmarshall511 opened #185 "Add ability to manually & automate blocked IPs"

[2020-07-17 20:14] barteelamar opened #186 "Long time user... 4.2.0 is sending eMails for each spam"
4.2.0 is sending eMails for each spam

What do I have to do to fix this.   It worked perfect in 4.1.3   Never had spam...

[2020-07-17 20:16] bmarshall511 commented on #186
Hey @barteelamar , this plugin has never sent email including the latest version. It' most likely something else you've got installed. Can you provide me an example of the email you're getting?

[2020-07-17 21:11] bmarshall511 commented on #186
Closing this as it's unrelated to what the plugin does.

[2020-07-17 21:11] #186 closed

[2020-07-17 21:14] #185 closed

[2020-07-19 13:15] bmarshall511 opened #188 "Gravity Forms PHP notice"
See https://wordpress.org/support/topic/php-warning-245/

[2020-07-19 14:51] #184 closed

[2020-07-19 14:51] #188 closed

[2020-07-19 16:18] afragen opened #189 "Error for undefined constant in v4.3.2"
I just updated to v4.3.2 and now I see the following error.

`Warning: Use of undefined constant REFERRER_ANALYTICS - assumed 'REFERRER_ANALYTICS' (this will throw an Error in a future version of PHP) in /sites/xxxxx.xom/files/wp-content/plugins/zero-spam/inc/scripts.php on line 17`

Thought you should know.

[2020-07-19 16:22] bmarshall511 commented on #189
Thanks! Just pushed a fix up in v4.3.3: https://github.com/bmarshall511/wordpress-zero-spam/commit/b830122a793cd0773bcd4e26bbc590eb7ef318ba

[2020-07-19 16:22] #189 closed

[2020-07-19 17:22] wwwebdesignstudios opened #190 "Conflict Between Latest Release and Visual Composer WP Bakery"
WP Bakery on page edits no longer shows, when i deactivate wordpress zero spam, the page builder now shows.  I downloaded the latest version of WP Bakery just to make sure and the latest of your plugin

[2020-07-19 17:22] wwwebdesignstudios commented on #190
version 4.3.1 works but not version 4.3.3

[2020-07-19 17:25] bmarshall511 commented on #190
Hmm, strange. The plugin shouldn't effect the editor since it doesn't touch it at all. Since WP Bakery is a premium plugin that I don't have, unable to test. Could you provide more details? Are there any JS errors, anything in the error_logs, screenshots, etc.?

[2020-07-19 17:32] wwwebdesignstudios commented on #190
i can send you a zip of the latest release for your to test?  let me know and i can attach.

[2020-07-19 17:33] bmarshall511 commented on #190
Sure, you can send it to me@benmarshall.me.

[2020-07-19 17:34] wwwebdesignstudios commented on #190
ok another note - i tested this issue on two completely separate websites just to make sure it wasn't some other conflict.  Once i uploaded the 4.3.1 version the wpbakery page builder went back to normal

[2020-07-20 20:26] bmarshall511 opened #191 ""Undefined index: log_blocked_ips" notice"
See https://wordpress.org/support/topic/version-4-3-3-deactivates-plugin/#post-13146951 for more information

[2020-07-20 20:56] natesprout opened #192 "Default Gravity Form (and other Form plugin) spam check options to enabled upon installation"
We use your plugin to help block spam for our client websites. I discovered however with your latest updates and major overhauls to the plugin, enabling spam checks for Gravity forms are not enabled by default upon install.

Any chance a new update would already have this option for GF and other forms enabled by default?

Your plugin boasts "WordPress Zero Spam blocks spam submissions including co

[2020-07-20 21:04] bmarshall511 commented on #192
Sure, that's actually already in the queue:
https://github.com/bmarshall511/wordpress-zero-spam/issues/192

On Mon, Jul 20, 2020 at 3:56 PM natesprout <notifications@github.com> wrote:

--
Ben Marshall
Full Stack Developer & SEO Strategist

(972) 863-1236
bmarshall511@gmail.com
https://benmarshall.me

[2020-07-20 21:40] bmarshall511 commented on #192
Hey @natesprout , just ran a test and it's working as you described.

1. Installed a fresh WP instance
2. Installed WP Zero Spam & activated it
3. Installed CF7
4. Checked the WP Zero Spam settings page & the CF7 is checked

Also verified this in the code. My guess is you saved the settings before activating the other plugins. When this happens there *was a default option checked if no option was

[2020-07-20 21:40] #192 closed

[2020-07-20 21:41] bmarshall511 commented on #191
Fixed in v4.3.4: https://github.com/bmarshall511/wordpress-zero-spam/commit/3fe663ac2682a24124e29bbce495f188a70ad698

[2020-07-20 21:41] #191 closed

[2020-07-20 21:43] natesprout commented on #192
Hey Ben,

What if we have the form plugin already installed on the site and we are
adding the Zero Spam plugin through Manage WP?

Can you test it in that order? (switching step 2 and 3 around)

On Mon, Jul 20, 2020 at 4:40 PM Ben Marshall <notifications@github.com>
wrote:

--
Nathanael Auran
nate@cybersprout.net <brad@cybersprout.net> | 320-298-1177 x6
CYBERsprout LLC | https://cybersprout.net
31

[2020-07-20 21:43] bmarshall511 commented on #190
@wwwebdesignstudios Just wanted to check in on this & if you were able to send me a copy of the page builder.

I just released 4.3.4, which modifies when the Zero Spam plugin loads its JS (now only loads when on one of the Zero Spam specific pages). No clue if it's related, but thought I'd mentioned incase you update & see that it's no longer a problem.

If you do update to 4.3.4, would love to kn

[2020-07-20 21:53] bmarshall511 opened #193 "Uncaught Error: Call to undefined function get_plugin_data()"
See: https://wordpress.org/support/topic/your-site-is-experiencing-a-technical-issue-49/

[2020-07-20 21:56] #193 closed

[2020-07-20 22:08] bmarshall511 commented on #192
@natesprout Yup, the update made should have those options enabled by default. Code logic being:

1. A third-party supported plugin is already installed, but Zero Spam isn't
2. Zero Spam is installed & activated
3. Options are checked if the third-party plugins are installed & active, in addition if the specific option for that third-party has a value
4. In this instance, it should since zero spam

[2020-07-20 22:25] wwwebdesignstudios commented on #190
i emailed you the plugin yesterday - did you receive it? it was a zip file jcomposer.  I will test 4.3.4 in the meantime. Thanks.

[2020-07-20 22:28] natesprout commented on #192
Lastly, what if Zero Spam was already installed on a site under an older
version before you overhaul (Gravity Forms already installed/active)...
...then Zero Spam uninstalled (not simply updated)...
...and then your newest version was installed on the site.

...would the GF Settings option be checked?

On Mon, Jul 20, 2020 at 5:08 PM Ben Marshall <notifications@github.com>
wrote:

--
Nathanael Aur

[2020-07-20 22:32] bmarshall511 commented on #190
@wwwebdesignstudios Nope, never got it.

[2020-07-20 22:34] bmarshall511 commented on #192
Yup, should be based on the code logic of my last comment.

[2020-07-20 22:54] wwwebdesignstudios commented on #190
I just sent it again to 'me@benmarshall.me'

Walter Keener
Web Design & Marketing Coordinator
WW Web Design Studios

o: 954-543-8736
t: 888-790-5505
e:  <mailto:walter@wwdesignstudios.com> walter@wwdesignstudios.com

From: Ben Marshall <notifications@github.com>
Sent: Monday, July 20, 2020 6:33 PM
To: bmarshall511/wordpress-zero-spam <wordpress-zero-spam@noreply.github.com>
Cc: WW Web Design Studi

[2020-07-20 23:06] bmarshall511 commented on #190
@wwwebdesignstudios Thanks, got it that time. I installed & checked with the latest version (v4.3.6) of zero spam & all works for me. See attached screenshots. Let me know if you're still running into it after you update.

![image](https://user-images.githubusercontent.com/1920159/87994743-57402600-cab3-11ea-9213-fb033c9a61de.png)

![image](https://user-images.githubusercontent.com/1920159/8799480

[2020-07-21 00:42] bmarshall511 commented on #110
@sltmunky69 With the release of 4.x.x, the auto-block feature now temporarily blocks the IP for a set amount of time specific in settings. Thanks for the suggestions.

[2020-07-21 11:49] wwwebdesignstudios commented on #190
thank you - i believe what you have changed in this version has allowed the page builder to function normally again.  thanks again for your help!

[2020-07-21 11:56] bmarshall511 commented on #190
Perfect! Glad it got resolved & thanks again for letting me know about it!

[2020-07-21 11:56] #190 closed

[2020-07-21 15:10] bmarshall511 opened #194 "Find a way to display the blocked spam message on Ninja Forms"
Currently, if spam is detected on a Ninja Form submission, the form submission stops, spam is logged, but no details are provided to the end user about what happened. Instead the submit button stays in the 'Processing' state.

[2020-07-21 19:09] bmarshall511 opened #195 "Notice: Undefined index: verify_ninja_form"
See https://wordpress.org/support/topic/notice-undefined-index-verify_ninja_form/

[2020-07-21 19:28] jaredatch commented on #194
This really applies to all 3rd integrations, maybe even some of the WP core ones.

Right now when spam is detected either a redirect is performed or `die()` is triggered.

The issue is almost every integration supported has the ability to be AJAXified.

WPForms, Gravity, NinjaForms etc all natively support form submission to happen via AJAX instead of native $_POST which reloads the page, if user

[2020-07-21 20:11] #195 closed

[2020-07-21 20:20] bmarshall511 commented on #194
Yeah, I've thought about that & will be digging deeper into each integration as I get time. Spend an hour or two this morning trying to figure out Ninja Forms & following what their docs say, but instead printing the error message. I'll keep digging though until I or someone else can figure it out.

[2020-07-21 20:21] bmarshall511 opened #196 "Convert get_plugin_data calls to a constant"
See https://github.com/bmarshall511/wordpress-zero-spam/commit/3afeef9dfe4b45eecd52b2b6db245496576271bc#commitcomment-40794752

[2020-07-21 20:33] #196 closed

[2020-07-22 18:06] bmarshall511 opened #197 "Integrate Fluent Forms"
https://wordpress.org/plugins/fluentform/

[2020-07-22 20:52] bmarshall511 commented on #197
https://github.com/bmarshall511/wordpress-zero-spam/commit/a57749534803d9a31d77fd83a48a7baadf6c9071

Releasing in v4.4.0

[2020-07-22 20:52] #197 closed

[2020-07-22 21:23] maryannk opened #198 "Integrate Genesis comment system"
My sites that are running this plugin are suddenly not filtering spam comments that used to be filtered. This is just since yesterday. Because they contain links, they are being held for moderation due to my settings, but they are no longer being marked as spam by the plugin. I'm not getting spam contact submissions, just comments.

Site 1:
WordPress 5.4.2
Genesis 3.3.2 with a custom child theme
W

[2020-07-23 12:24] bmarshall511 opened #199 "Add the ability to approve submissions marked as spam"
See https://wordpress.org/support/topic/how-to-approve-false-positive/

[2020-07-23 20:25] bmarshall511 opened #200 "Integrate BotScout blacklist"
https://botscout.com/code.htm

[2020-07-23 20:25] bmarshall511 opened #201 "Integrate Project Honey Pot blacklist"
https://www.projecthoneypot.org/httpbl_api.php

[2020-07-23 20:27] bmarshall511 commented on #198
The Genesis framework isn't currently supported. Updating this to a feature request as this isn't a bug.

[2020-07-23 20:29] bmarshall511 commented on #198
@maryannk  It appears that Genesis is a premium theme. I don't have it so unable to attempt to integrate. If you can provide me a copy & whatever they require to set up, I'll take a look at it.

[2020-07-23 20:41] bmarshall511 opened #202 "Add a confidence threshold option to Stop Forum Spam blacklisted IPs"

[2020-07-23 20:44] maryannk commented on #198
Thanks for following up, Ben. I'm not sure I can provide a copy of Genesis under the terms of my license so I guess I'll let this drop. I appreciate your willingness to attempt it.

[2020-07-23 20:46] bmarshall511 commented on #198
Not a problem. I also accept donations to continue open-source projects like these. It's how I'm able to purchase premium versions on plugins & provide pro-Bono for nonprofits in case you're interested: https://benmarshall.me/donate/

[2020-07-23 20:54] maryannk commented on #198
Donated. It won’t buy the Genesis framework but I appreciate the use I’ve gotten from your plugin up until now.

[2020-07-23 20:55] bmarshall511 commented on #198
Thanks! I really appreciate it, especially with all the craziness going on right now. I'm gonna keep this ticket open & will try to be it integrated at some point.

Thanks again!

[2020-07-23 21:01] bmarshall511 commented on #198
@maryannk I forgot to mention, this plugin will still be helpful on your site. The last update has some more spam detection functionality unrelated to forms. Integrated with known blacklisted API services & some on-site security settings that'll help protect the site. More is coming in this area, so still definitely worth it.

[2020-07-23 21:06] maryannk commented on #198
Thanks, Ben. I’m definitely keeping it active. These are smaller sites that don’t have as much of a spam problem as my larger ones and I’m sure having it active will help even if some get through.

[2020-07-23 22:23] bmarshall511 opened #203 "Add ability to permanently auto-block after X amount of spam attempts"

[2020-07-23 22:24] bmarshall511 commented on #200
https://github.com/bmarshall511/wordpress-zero-spam/commit/a4fa721859737b08129aa51dcc4defc0e30275ab

[2020-07-23 22:24] #200 closed

[2020-07-24 01:47] jaredatch commented on #198
@bmarshall511 I'm a Genesis license holder and I can share the framework with you if needed, it's GPL license.

With that said, I also have much experience with Genesis and from my recollection they pretty much use the vanilla WordPress comment system, so I can't think of any reason off the top of my head why WPZS wouldn't function as expected when the site is using a Genesis based theme.

[2020-07-24 12:30] bmarshall511 commented on #198
Yeah, that'd be great. If it is just using the core WP comment system, maybe a simple fix. @maryannk Can you shoot me a link to your site where there's a comment form. Have a hunch the theme may just be overriding the default comment form ID. If so, easy fix.

[2020-07-24 15:10] maryannk commented on #198
https://www.censustools.com/transcribe-census-records/ <https://www.censustools.com/transcribe-census-records/>

[2020-07-24 15:11] maryannk commented on #198
I’m using a slightly modified version of the Minimum Pro theme but no customizations to the comment form from Minimum Pro that I recall.

[2020-07-24 16:38] jaredatch commented on #198
@bmarshall511 email sent.

[2020-07-24 19:03] bmarshall511 commented on #198
@jaredatch Thanks!

@maryannk I just tested it out on the Minimum Pro theme that @jaredatch shot me. All worked as expected. Looking at your site, my guess is you don't have 'Verify Comments' turned on.

You can look in the browser console & Zero Spam will display what & how many forms were detected on the page you're on. Your site shows that you have the CF7 option turned on, but isn't showing th

[2020-07-24 19:13] maryannk commented on #198
@bmarshall511 - yes, all of the boxes are checked including Verify Comments.

[2020-07-24 19:36] bmarshall511 commented on #198
@maryannk Strange, it should display a message in the console then about if & how many comment forms it found on the page. Stranger because the other checks seem to work like CF7 which tells me the script is firing as it's supposed to.

Maybe try resaving the settings, might have got stuck in a weird state during the updates.

[2020-07-24 19:48] maryannk commented on #198
@bmarshall511 I resaved the settings.

[2020-07-24 19:58] bmarshall511 commented on #198
@maryannk Looks like that did it, just simulated a spam comment, it caught it.

[2020-07-24 19:58] #198 closed

[2020-07-25 18:20] bmarshall511 commented on #112
Sorry, I'm just now getting to this, but... life. The past few weeks been working on v4, a complete rewrite of the plugin. Happy to look into support for Formidable Pro, but would need the plugin to test & integrate. If you can shoot me a copy or donate (https://benmarshall.me/donate/) to help continued development of these add-ons, I'll dig in.

[2020-07-25 18:20] bmarshall511 commented on #145
Sorry, I'm just now getting to this, but... life. The past few weeks been working on v4, a complete rewrite of the plugin. Happy to look into support for Formidable Pro, but would need the plugin to test & integrate. If you can shoot me a copy or donate (https://benmarshall.me/donate/) to help continued development of these add-ons, I'll dig in.

[2020-07-25 18:22] bmarshall511 commented on #173
Need the plugin to test & integrate. If someone can shoot me a copy or donate (https://benmarshall.me/donate/) to help continued development of these add-ons, I'll dig in.

[2020-07-26 10:35] dadon789 opened #204 "Zero-spam is blocking me from my own website"
Hello,

Thanks for your great plugin. However, since the update, i have been experiencing this issue though i have not enabled the auto-block ip function. Zero-spam is blocking my ip from accessing my website from the front-end. I am able to login to the admin side perfectly. However, when i try to review the website from the front-end i'm told my ip has been blocked? Can you fix this issue?

[2020-07-26 13:09] bmarshall511 commented on #204
You have the ability to delete blocked IPs from the setting page. Find your IP in the table then delete it.

[2020-07-26 13:09] #204 closed

[2020-07-26 17:23] bmarshall511 commented on #203
https://github.com/bmarshall511/wordpress-zero-spam/commit/abf81278d2e095d784199315c5b39f26d677c404

[2020-07-26 17:23] #203 closed

[2020-07-26 17:30] bmarshall511 commented on #204
@dadon789 With the release of 4.8.0, you can now also whitelist IPs to avoid getting blocked. See the settings page.

[2020-07-27 16:12] jaredatch commented on #112
@bmarshall511 the free version of the plugin would probably be sufficient for adding an integration, check out https://wordpress.org/plugins/formidable/ :)

[2020-07-27 16:56] bmarshall511 commented on #112
@jaredatch Ah perfect must have missed that when I was searching for it. I dig in to see if I can get it integrated.

[2020-07-27 17:30] MaxxSkywalker commented on #145
[Toolset.zip](https://github.com/bmarshall511/wordpress-zero-spam/files/4983438/Toolset.zip)

Feel free to privatize this post when you've acquired the files.

[2020-07-27 17:54] bmarshall511 commented on #145
@MaxxSkywalker Thanks!

[2020-07-27 23:22] #112 closed

[2020-07-27 23:22] bmarshall511 commented on #112
Good news... 5 years late, but WordPress Zero Spam will support Formidable in the next release (v4.9.0)!

[2020-07-28 18:07] SiteSpot commented on #112
Thanks Ben!

[2020-07-30 21:07] bmarshall511 commented on #202
Released in 4.9.3: https://github.com/bmarshall511/wordpress-zero-spam/commit/dd04578101506173d5cd89673b026335313b58f4

[2020-07-30 21:07] #202 closed

[2020-07-30 21:07] bmarshall511 commented on #194
Closing this since with the latest release, NF is no longer supported. See the plugin FAQs for more information.

[2020-07-30 21:07] #194 closed

[2020-08-06 04:12] publicarray opened #205 "Autoptimize plugin compatibility"
Hi thanks for the plugin. I just wanted to make people aware that if they use the JavaScript optimisation in [Autoptimize](https://github.com/futtta/autoptimize/) to add `wp-content/plugins/zero-spam` to the whitelist.

It took me too long to realise that all messages where marked as spam using [wpforms](https://wordpress.org/plugins/wpforms-lite/) and zero-spam.

[2020-08-06 20:41] bmarshall511 commented on #205
Hey @publicarray , thanks for letting me know. The next version (4.9.11) converts the JS to a jQuery plugin that should hopefully resolve the issue. I'll leave this open for now until the next version is released so you can let me know if it fixed the issue.

[2020-08-06 20:59] bmarshall511 commented on #205
Confirmed that WPForms, WPZS & Autoptimize (JS aggregation on) all work together in the upcoming version. Thanks again for bringing this to my attention.

[2020-08-07 17:30] bmarshall511 commented on #205
Closing this, confirmed fix in v4.9.11

[2020-08-07 17:30] #205 closed

[2020-08-07 17:31] bmarshall511 opened #206 "Clean-up location parsing for logs"
Currently, locations are parsed from an array, that's no longer needed with some new features that have been added recently.

[2020-08-07 17:32] bmarshall511 opened #207 "Add localization languages"

[2020-08-07 22:48] publicarray commented on #205
@bmarshall511 Thank you for the quick reply and solution. I don't follow how using jQuery will fix it. But thanks.

[2020-08-10 11:30] AmibeWebsites opened #208 "Caching 'Blocked due to spam'"
Hi, I'm getting situations where totally legit visitors are sometimes unable to access pages, instead seeing a message that they can't access the page due to SPAM activity.

I don't believe they're actually being blocked but are possibly seeing a cached page of a prior block. Is that possible? And if so, how I would I prevent this from happening. I'm using

Thank you.

[2020-08-12 22:03] bmarshall511 commented on #208
It's doubtful they are seeing a cached page. I'd need more information to look into. Check to see if the visitor's IP addresses appear in your blocked list, then you'll be able to tell why they were blocked. You can also check the blacklist to see if their IP has been flagged by one of the 3rd-party services like Stop Forum Spam.

[2020-08-12 22:18] bmarshall511 opened #209 "PHP notices for comment options"
[code]

See https://wordpress.org/support/topic/im-getting-this-after-latest-update-2/

[2020-08-12 22:20] #209 closed

[2020-08-17 18:52] draney opened #210 "Validate against WP disallowed list [FEATURE]"
Validate a field’s value against the WordPress Comment Blacklist. This would give users an easy way to block entries containing specific words or phrases

[2020-08-25 17:23] bmarshall511 commented on #208
Closing this for now, not enough information.

[2020-08-25 17:23] #208 closed

[2020-08-29 16:51] enton8 opened #214 "Number and names of set cookies not consistent to description (FAQ)"
According to the FAQ:
"Only one cookie is stored (**wpzerospam_api_blacklist**)[...]"

This is however not the case. In my current initial installation three cookies are created:
wpzerospam_ip_checked
wpzerospam_has_access
wpzerospam_access_checked

When I look into the code, there are even more cookies that are created at some point:
in file **class-wpzerospam.php**
``	public function set_access_

[2020-08-29 17:00] enton8 opened #215 "All blocking seems to rely only on (client-side) cookies, which can be circumvented completely"
In file **class-wpzerospam.php**
``	public function set_access_cookies( $access ) {
these cookies are created:

**i.e. wpzerospam_ip_checked, wpzerospam_has_access, wpzerospam_access_checked, wpzerospam_cached, wpzerospam_blacklist_api, wpzerospam_attempts.**

_**If a potential bot/spammer creates those cookies manually, they seem to be able to circumvent the complete blocking functionality of the

[2020-08-30 22:03] viktorix opened #216 "IP address is personal data - GDPR/CCPA"
I noticed in the new version of the plugin there is an option to share spam detections: "Help support WordPress Zero Spam and strenghten its ability to detect spammers by sharing spam detections. The only data that's shared is the IP address, type & site where the spam was detected. Absolutely no personal data is shared."

Under [GDPR](https://ico.org.uk/for-organisations/guide-to-data-protection/

[2020-08-31 12:35] bmarshall511 commented on #216
Thanks for the info! I'll definitely update it in the upcoming version.

[2020-08-31 12:42] bmarshall511 commented on #214
Yeah, the cost of constant updates trying to keep documentation updated as well. Going to be moving this over to the plugins documentation page, https://benmarshall.me/wordpress-zero-spam to make it easier & quicker to update. Feel free to help contribute, by forking the repo and submitting a pull request for these types of updates.

Cookies also may be going away in a future version to better loc

[2020-08-31 12:47] bmarshall511 commented on #215
Understood, but as I'm sure you know, there's no 100% way to defeat spam, only help prevent it. Cookies are put in place to balance site performance with security. There is a plan to improve this check but haven't had time to dig into it. Feel free to fork the repo and contribute if you'd like this updated sooner rather than later.

[2020-09-01 23:52] afragen opened #217 "PHP Warning in v4.10.1"
`PHP Notice Undefined index: attempts in /sites/xxxxx/files/wp-content/plugins/zero-spam/classes/class-wpzerospam.php on line 276`

[2020-09-03 16:26] ckobx opened #218 "Getting Multiple Form Submissions from the same IP Address Blocked Days Ago"
The same IP is being used to send in the same spam form submissions.
At least one a day for the last 4-5 days - and the IP address was blocked in settings the first time they submitted a spam email.
We are using gravity forms.

[2020-09-03 16:35] bmarshall511 commented on #218
Closing, GF is not supported. See the plugin's FAQs for more details.

[2020-09-03 16:35] #218 closed

[2020-09-05 07:50] publicarray opened #219 "[Feature] Ability to disable User agent whitelist feature"
I appreciate the idea behind the feature but because there are [bots claiming to be Googlebot](https://blogs.akamai.com/2014/07/search-engine-impersonation-the-wolf-in-sheeps-clothing.html), I rather have Google's IPs verified with a [reverse IP lookup](https://support.google.com/webmasters/answer/80553?hl=en) or have the ability to disable the user agent feature if/when it gets abused by imposter

[2020-09-10 20:34] publicarray opened #220 "Cloudflare support"
Does zero spam use the 'cf-connecting-ip' header to get back the real user's ip address? If not, could this be added? Many thanks.

[2020-09-15 09:16] azadzain opened #221 "REST API responses slowed down drastically"
Firstly, its an amazing plugin and helped me with several projects.

Right now I am working on a WP with rest API integration. I noticed almost 5 times slower response times especially from chrome based devices once the plugin is active. When turned off its all back to normal.

[2020-09-15 17:36] pacmanito opened #222 "Please add WooCommerce support"
Hi, would be great if you add support for WooComemrce registration form.

[2020-09-17 17:14] DynAggelos opened #223 "Add Support for Nginx Caching"
I'm using DreamHost's caching plugin [Proxy Cache Purge](https://wordpress.org/plugins/varnish-http-purge/), and when checking the caching on any given page, I get an error whenever WP Zero Spam is activated. It looks to me like some cookies set by WP Zero Spam may be the culprit. Here is what I see from the cache check page.

![caching check](https://user-images.githubusercontent.com/35944457/935

[2020-09-22 23:17] Teico88 commented on #173
Hi @bmarshall511 , I've send you the plugin some time ago. Check your mailbox :)

[2020-09-25 16:08] bmarshall511 commented on #223
@DynAggelos Yeah, I'm looking into killing the cookie requirement although due to them causing some issue with certain hosts and caching. Will track the progress in this ticket.

[2020-09-25 16:10] bmarshall511 commented on #222
@pacmanito Will look into. From what I remember, WooCommerce uses the default WP registration form. Can you provide a URL where this form is so I can see what's different about it?

[2020-09-25 16:18] pacmanito commented on #222
I suppose they use their own form. It usually have an URL shopadress.com/my-account, here's an example from storefront demo page - https://themes.woocommerce.com/storefront/my-account/

[2020-09-25 18:39] jaredatch commented on #223
I'm not sure what's going on but I'm not aware of any issues or restrictions of cookies and nginx plus/varnish caching, unless you're trying to read/set the cookie on cached page load via PHP.

I suspect this is a false positive and this plugin shows warning for any cookies, even if it doesn't affect actual caching functionality if the cookies are done in a way that works with caching.

[2020-09-26 18:49] DynAggelos commented on #223
That may be the case. I've run another Spotlight scan with and without the plugin activated. It doesn't seem to have any considerable difference either way, now that you mention it. However, it would be nice to remove the browser warning about the cookies. I _think_ that can be done by changing [this line](https://github.com/bmarshall511/wordpress-zero-spam/blob/db4e31afd95d6b25e0b8e3e12d79bcc6680

[2020-10-05 10:20] itzmostafiz opened #225 "Query monitor says, PHP error."
After activating the plugin, the Query Monitor plugin alerts PHP error  "**Undefined index: verify_cf7**"

[2020-10-06 06:57] pdgitindia opened #226 "ipstack settings missing from Settings page"
The **Dashboard** gives a message **Enter your _ipstack API Key_ to enable the world mp view of spam detections**.
On clicking the link the **Settings** page opens.
However, there is no place to add the ipstack API key.

[2020-10-06 18:00] grand-lotus-iroh opened #227 "Add ability to block a country"
how do i block an entire country? instead of just a single IP, this one site is getting blasted by Russia so I would like to just block the entire nation of Russia.

any ideas on how I can do this?

[2020-10-07 17:24] bmarshall511 commented on #225
Can you provide the full error? What line and file?

[2020-10-07 17:31] bmarshall511 commented on #226
Unable to replicate, can you provide a screenshot?

[2020-10-12 20:12] grand-lotus-iroh commented on #227
Yea this is an absolute must have feature. Just after a day of using this plugin the Mother Russia is bombing with spam.

![image](https://user-images.githubusercontent.com/1291364/95786538-c76eda00-0ca5-11eb-847d-9c191f5a4c7d.png)

[2020-10-13 11:39] wtt-martijn opened #228 "Page stuck on "You have been blocked from visiting this site by WordPress Zero Spam due to detected spam activity."from all over the world"
We use WP5.5.1 And we have I page that is permanently blocked bij WP Zero Spam. Even with the plugin removed. How can I solve this. Did everything, whitelisted ip/cleaned all blocked/deinstalled/reinstalled. I am pulling all my hairs right now and have not much to spare. Can you help me please what is wrong.

Keep getting this message:
You have been blocked from visiting this site by WordPress Zer

[2020-10-15 06:25] viktorix opened #229 "PHP Warning: Cannot modify header information"
Noticed this PHP warning in PHP 7.4. Not sure about other versions.

`PHP Warning:  Cannot modify header information - headers already sent in /wp-content/plugins/zero-spam/classes/class-wpzerospam.php on line 938`

Both the WP and Zero Spam are running the latest versions.

[2020-10-16 14:45] timreeves commented on #229
I'm seeing this too, with PHP 7.3

Funny thing is, the warning is not generated during normal use of backend or frontend WordPress. It happens when any wp-cron job is called. So I read a good tutorial here: https://wpshout.com/wp_schedule_event-examples/ and also installed the plugin wp-crontrol to be able to start jobs manually. Every time I do so - ANY wp-cron job - the error is generated (sever

[2020-10-16 15:12] timreeves commented on #229
WHMCS Bridge is causing a similar problem, but due to attempted session start. Looking at the code there, he's protected the session_start() with following test:

if (session_status() == PHP_SESSION_NONE)

But it's missing the test if headers have already been sent, see https://www.php.net/manual/en/function.headers-sent.php. And there's also the question of a session having been started and close

[2020-10-16 19:40] timreeves commented on #229
My suggestion for beefing up the WHMCS Bridge test before calling setcookie() does indeed prevent the Warning. But I still would really like to uderstand what's going on with wp-cron.
Cheers, Tim

[2020-10-27 20:44] janmulder opened #230 "Product reviews from Woocommerce always marked as spam"
In a site using Woocommerce, every product review is marked as spam.

When the checkbox "Detect Spam/Malicious Comments" is "off", then all reviews are accepted, when "on" all reviews are marked as spam.

Site that demonstrates this failing behavior is: https://www.she-p.com/product/double-connector/

Simply try to enter a valid review.

Used versions:

WP: version 5.5.1
Woocommerce: Version 4.6.1

[2020-10-28 15:54] janmulder commented on #230
A little addition. When a user is logged in, in the Woocommerce shop, any review comment is accepted, and any review comment entered as a guest is refused as spam.

[2020-10-30 22:46] therealgilles commented on #229
I had encountered a similar situation with the WP Session Manager plugin. This thread may provide insight: [https://github.com/ericmann/wp-session-manager/issues/81](https://github.com/ericmann/wp-session-manager/issues/81)

[2020-11-02 12:36] #221 closed

[2020-11-13 16:36] Philreely commented on #230
Same here:
Warning: stripslashes() expects parameter 1 to be string, array given in /var/www/mydomain.co.uk/wp-content/plugins/zero-spam/integrations/comments/comments.php on line 244
There was a problem with your submission. Please go back and try again.

[2020-11-27 14:25] incubateurdigital commented on #226
Hello, i have the same issue :

![image](https://user-images.githubusercontent.com/51329265/100458738-8bac9a00-30c4-11eb-980e-2ba89c85c2aa.png)

and when we click on it, we arrive on zero spam settings, with no option to set this API KEY.
We only have option to set Botscout API Key.

If Botscout API Key is defined, we still have the message that says we need ipstack API Key.

[2020-11-27 14:28] incubateurdigital commented on #226
![image](https://user-images.githubusercontent.com/51329265/100459099-2907ce00-30c5-11eb-8d0a-26ef8e3fcde2.png)
Here is the settings page.

[2020-12-05 20:00] ognik777 opened #231 "Is BotScout part of the problem?"
I'm getting emails from BotScout saying it has stopped thousands of spam each day - and I should pay for a premium version.  But the stats in zero spam don't show the traffic BotScout reports.

I have also had a sudden large increase in spam to the email address my contact form uses - since around the same time I installed zero spam.

Now all this sounds pretty unlikely to me, so what should I loo

[2020-12-16 19:32] collincondray commented on #226
Try clicking the Log Blocked IPs option and see if it shows up then.

[2020-12-17 09:06] incubateurdigital commented on #226
@collincondray you're true, this make it display ! ( after save ).
But this is not really clear. Could be improved.

[2021-01-12 08:51] krugmedien commented on #216
Hi. :-) If "**BotScout API Key**" is unfilled and "**Stop Forum Spam**" is unchecked, the IP-address is send to noone, correct?

[2021-01-14 17:27] galloppinggryphon opened #232 "zerospam.org expired certificate"
Not a great look for a security plugin...

[2021-02-10 11:32] AmibeWebsites commented on #208
Hi, this has happened again.

While logged in the page works fine.
Logged out I'm getting the "Blocked Message", and so are others, all with different IP addresses.

I cleared the cache and the page works again for everyone.

The cache plugin being used is W3 Total Cache.

Is there a way to prevent "Blocked Message" responses being cached?

Thank you.

[2021-02-20 14:05] nextgenthemes opened #233 "The dashboard says I can enter an "ipstack" API key that has no field."
In the setting page there is just an API field for BotScout API Key.

[2021-02-23 14:44] bmarshall511 opened #235 "Add ability to auto-purge logs"

[2021-02-23 15:07] bmarshall511 commented on #233
v5 was just released that fixes this issue. Thanks for letting me know.

[2021-02-23 15:07] #233 closed

[2021-02-23 15:09] bmarshall511 commented on #232
This is not related to the plugin, instead is a 3rd-party site that can be integrated with this plugin. Closing.

[2021-02-23 15:09] #232 closed

[2021-02-23 15:10] bmarshall511 commented on #231
BotScout has been done for quite a while now & v5 which was just released has temporarily dropped support for it until they get the site up and running again.

[2021-02-23 15:10] #231 closed

[2021-02-23 15:10] #206 closed

[2021-02-23 15:11] bmarshall511 commented on #230
v5 was just released which should resolve this issue, please let me know if you still run into it.

[2021-02-23 15:11] #230 closed

[2021-02-23 15:12] bmarshall511 commented on #229
v5 was just released and included major performance enhancements and a more implied approach that should fix issues like these. Please let me know if you're still running into it after upgrading.

[2021-02-23 15:12] #229 closed

[2021-02-23 15:13] bmarshall511 commented on #226
Non-issue, closing.

[2021-02-23 15:13] #226 closed

[2021-02-23 15:13] bmarshall511 commented on #225
Haven't heard back, closing.

[2021-02-23 15:13] #225 closed

[2021-02-23 15:13] bmarshall511 commented on #223
v5 was just released and no longer uses cookies. Closing.

[2021-02-23 15:13] #223 closed

[2021-02-23 17:02] bmarshall511 commented on #228
There's no way the plugin is blocking a page when it's removed. If this is what you're experiencing, it's due to something else. If you're getting blocked, its because your IP address was reported to be spam/malicious. v5 release allows more control over this to fine-tune to your specific needs. Update and see if it resolves your issue. If not, either whitelist you IP address or adjust the strictn

[2021-02-23 17:02] #228 closed

[2021-02-23 17:04] bmarshall511 commented on #227
Great idea. I'll put this on the roadmap and keep this open to track the progress.

[2021-02-23 17:41] #222 closed

[2021-02-23 17:42] bmarshall511 commented on #222
Thanks for the idea. The next release will include this functionality.

[2021-02-23 17:43] bmarshall511 commented on #220
Not currently, but will add this to the next release. Thanks for the idea.

[2021-02-23 17:47] #220 closed

[2021-02-23 17:48] bmarshall511 commented on #217
v5 release fixes this. Closing.

[2021-02-23 17:48] #217 closed

[2021-02-23 18:00] #216 closed

[2021-02-23 18:01] bmarshall511 commented on #215
v5 has been released and no longer relies on or uses cookies.

[2021-02-23 18:01] #215 closed

[2021-02-23 20:39] #227 closed

[2021-02-24 11:03] publicarray commented on #220
Thank you and Welcome back!

[2021-02-25 09:50] konsti2020 opened #237 "Add WP admin dashboard widgets"
at the moment the design in combination with mobile devices is not very user-friendly.
It would be better if the pop-up opens as a submenu item or if it is scaled to the screen accordingly.
Also I am missing the charts, they were great as an quick overview. Could they be integrated as a box directly into the WordPress Dashboard?
And it would be handy if you could search the logs by country now tha

[2021-02-25 19:53] bmarshall511 opened #238 "WPForms AJAX forms aren't validated by WordPress Zero Spam"
Original issue: https://wordpress.org/support/topic/wp-forms-plugin/

The issue is, it doesn't appear WPForms uses the same hooks to validate fields when AJAX is turned on. I've gone through their documented hooks (https://wpforms.com/developers/categories/actions/) and related ones to fire when submitted through AJAX.

They do have do JS triggers (found this https://causier.co.uk/2021/02/hooking-

[2021-02-25 19:55] bmarshall511 commented on #238
@jaredatch Think you could take a stab at it?

[2021-02-25 20:50] bmarshall511 commented on #237
@konsti2020 Good ideas! Filtering by country will be in the next release. Working on the others.

[2021-02-25 21:08] #235 closed

[2021-02-25 21:12] bmarshall511 commented on #214
Closing this, cookies are no longer used as of v5.

[2021-02-25 21:12] #214 closed

[2021-02-25 23:55] bmarshall511 commented on #237
v5.0.5 was just released that includes sorting by country, a few charts & better mobile support. Adding a dashboard widget is on the list.

[2021-02-26 15:00] SenorFusion opened #239 "New Types of Spam Getting Through"
I apologize if this is not the right place to provide this feedback.

We LOVE WP ZeroSpam and it's an invaluable tool.

Over the past few days, the spam bots have seemed to find a new way around WPZeroSpam. We've gone from 1-2 a day hitting spam folder to 100+

The main thing they seem to have in common is dropping spammy comments with spam author name / link that mentions their spam brand in the

[2021-02-26 15:03] bmarshall511 commented on #239
@SenorFusion Perfect place to leave this kind of feedback & sorry to hear about the spam. Let's get this figured out. Can you provide me the URL where the spam is coming in from and a log in to the site so I can look into it? You can email me at me@benmarshall.me

[2021-02-26 17:07] bmarshall511 commented on #239
Closing this, issue was caused by comment protection turned off in settings.

[2021-02-26 17:07] #239 closed

[2021-02-27 15:05] intuitiefleven opened #240 "Spam coming through"
We have had the Wordpress zero spam plugin installed on our website for several months and it's been working perfectly. However, since several days it is letting through a lot of spam through our contact form and comments on blogs. Can someone help fix this?

This is an example:
<img width="386" alt="Screen Shot 2021-02-27 at 09 04 30" src="https://user-images.githubusercontent.com/79756694/109391

[2021-03-01 17:42] bmarshall511 commented on #240
I'll need more info. What URL and form is spam coming through on? Have you double-checked the plugin settings to make sure everything is configured properly? What version of the plugin are you running?

[2021-03-01 17:44] AdamGilchrist317 opened #241 "CF7 spam getting through"
Since Zero Spam was updated to v5 I've had spam coming from the Contact Form 7 page at http://www.2rf.co.uk/contactme/

Zero Spam has been blocking ip addresses (shown in the log), but it doesn't seem to block spam coming from the above page.

I've added the Flamingo plugin to save the spam - there are some in there now. I've previously emailed you a login.

All plugins and core are current versio

[2021-03-01 18:02] SenorFusion opened #242 "New Types of Spam Getting Through"
Over the past few days, the spam bots have seemed to find a new way around WPZeroSpam. We've gone from 1-2 a day hitting spam folder to 100+

The main thing they seem to have in common is dropping spammy comments with spam author name / link that mentions their spam brand in the comment body but NOT using links in the comment body:

![image](https://user-images.githubusercontent.com/1929777/109538

[2021-03-01 18:39] bmarshall511 commented on #241
Everything appears to be working as expected:

![image](https://user-images.githubusercontent.com/1920159/109542483-ba9f2700-7a8a-11eb-83f4-fb4e60c4e1c6.png)

Looked at the Flamingo log and the 4 entries there all appear to be legit. Those logs don't show the IP address the submission came from, might want to add a hidden field or find another plugin that logs that kinda info so I can look into th

[2021-03-01 18:41] bmarshall511 commented on #242
Can you provide me a URL where the spam is coming through, the plugin version & any other details? Also, please double-check the plugin settings to ensure everything is configured properly.

[2021-03-01 19:05] rosswintle commented on #241
I'm seeing spam coming through on a client of mine's site too.

The form is at https://strongmindresilience.co.uk/contact-us/

It's a WP Forms form.

This screengrab shows some spam entries: https://share.getcloudapp.com/5zuA2dRl

This screengrab shows the content of an entry that is definitely spam: https://share.getcloudapp.com/jkueOYGK

The WP Forms integration is turned on: https://share.getcl

[2021-03-01 19:08] ccolsher opened #244 "Spam Getting Through"
Similar to other user complaints below, spam has been getting through onto the comment wall steadily for the past 72 hours or so. My site is https://therealbatmanchronologyproject.com/. Any help would be much appreciated. Thanks!

[2021-03-01 19:17] bmarshall511 opened #245 "WP Forms spam getting through [BUG]"
https://github.com/bmarshall511/wordpress-zero-spam/issues/241#issuecomment-788193932

[2021-03-01 19:18] bmarshall511 commented on #241
@AdamGilchrist317 This issues is in reference to WCF7 and not WP Forms. I've created a separate issue to track: https://github.com/bmarshall511/wordpress-zero-spam/issues/245

[2021-03-01 19:19] bmarshall511 commented on #245
@rosswintle Do you have Stop Forum Spam enabled?

[2021-03-01 19:21] rosswintle commented on #245
No. Should I turn that on?

[2021-03-01 19:22] bmarshall511 commented on #244
I'll need more information to determine what's going on. What version of the plugin are you running, what URL is spam coming through, have you configured the plugin settings, etc. The more info the better.

[2021-03-01 19:24] bmarshall511 commented on #245
Yeah, give that a try. It performs more checks to determine if a submission is spam & based on those email addresses, feeling pretty strongly they'll be marked as spam once enabled.

[2021-03-01 19:26] rosswintle commented on #245
I'll give it a try. But that doesn't answer the question of what changed with the update that caused working spam protection to suddenly stop. Unless stop forum spam was somehow enabled before but not after the update?

[2021-03-01 19:28] AdamGilchrist317 commented on #241
I think the problem may be the definition of spam, and what the plugin is trying to stop. v4 stopped these, v5 doesn't. The emails that you refer to as legit are these:

-----------------------------
Hey there, I just found your site, quick question…
My name’s Eric, I found 2rf.co.uk after doing a quick search – you showed up near the top of the rankings, so whatever you’re doing for SEO, looks li

[2021-03-01 19:38] bmarshall511 commented on #245
v4 used both the honeypot method & a on-demand hidden field to determine spam. The on-demand method used JS that injected a hidden field when the form was submitted. v5 doesn't currently have the on-demand method due to issues people were having with valid submissions being marked as spam. Most of the time is was due to JS being turned off, a JS error on the site that was killing the functionality

[2021-03-01 19:41] bmarshall511 commented on #241
The message above does not appear in the Flamingo logs. The entries that I can see all seem legit.

I checked those IPs, the last 3 show up in Stop Forum Spam blacklist and should have been blocked. If they weren't it's likely the confidence level setting is too high. Try lowering it to see if that fixes your problem.

[2021-03-01 19:47] AdamGilchrist317 commented on #241
The messages are all in the flamingo logs (I've just put the first paragraph here for brevity).

I'll change "Stop Forum Spam Confidence Minimum" to 10, and see if it helps.

Thanks.

[2021-03-01 20:08] bmarshall511 commented on #241
@AdamGilchrist317 I've verified the following IPs do get blocked when Stop Forum Spam is enabled and the confidence level is at the default 30%. If they got through it either Stop Forum Spam wasn't enabled originally or another plugin/theme is interfering with WordPress Zero Spam.

84.17.51.123
192.3.103.245

You can test yourself by enabling the Debug option then entering the IP of a user. When l

[2021-03-01 20:08] #241 closed

[2021-03-01 20:49] bmarshall511 commented on #210
Update here: v5.0.7 will include functionality to auto-update this list using @splorp Comment Blacklist for WordPress (https://github.com/splorp/wordpress-comment-blacklist).

Still have plans to use this list to validate other submissions with zero spam.

[2021-03-01 21:09] bmarshall511 opened #246 "Add ability to block specific email domains [FEATURE]"
Add an option in settings for a list of email domains (e.g. gmail.com, yahoo.com, etc.) that should be blocked on submissions.

Catching spam isn't 100% no matter what you do, this would allow site admins more control over who gets blocked, especially from spammy domains.

Would be useful if to find an existing list of spammy email domains that could automatically be updated to avoid manual entry.

[2021-03-01 21:26] bmarshall511 opened #247 "Reintegrate David Walsh's technique for stopping spam [FEATURE]"
See https://davidwalsh.name/wordpress-comment-spam

[2021-03-01 21:28] bmarshall511 commented on #245
Understood, but v5 doesn't say it uses David Walsh's technique. You're right, prior versions did. And yes, reintegrating it is on the roadmap (https://github.com/bmarshall511/wordpress-zero-spam/issues/247). There are several methods to do this for a fool-proof solution, just haven't had time to add it yet.

Closing this for now. Will reopen if WP Forms spam is still getting through using the curr

[2021-03-01 21:28] #245 closed

[2021-03-02 00:20] bmarshall511 commented on #247
v5.0.8 has integration with the core comments form. More planned for future releases.

[2021-03-02 00:22] bmarshall511 commented on #244
v5.0.8 was just released that includes beefed-up protection for comment forms. Please update to the latest (ensure settings have been configured) and let me know if you're still experiencing this. Closing for now.

[2021-03-02 00:22] #244 closed

[2021-03-02 00:23] bmarshall511 commented on #242
v5.0.8 was just released that includes beefed-up protection for comment forms. Please update to the latest (ensure settings have been configured) and let me know if you're still experiencing this. Closing for now.

[2021-03-02 00:23] #242 closed

[2021-03-02 00:29] ccolsher commented on #244
Thank, Ben. Last spam that got through was about an hour ago. I'll monitor
now that it's been updated. Appreciate it.

Best,
Collin

On Mon, Mar 1, 2021 at 7:23 PM Ben Marshall <notifications@github.com>
wrote:

--
[code]

[2021-03-02 13:43] bmarshall511 commented on #240
Closing this, no response and lack of information.

[2021-03-02 13:43] #240 closed

[2021-03-02 15:48] ccolsher commented on #244
Hi Ben,

Overnight, nineteen spam messages got through into my comment wall. I'm
running Version 5.0.8, and I did the automatic configuration for the plugin
settings.

Here is a partial list of where the comments originated from:

denythevaccine.com
dyson.june@gmail.com
198.143.37.15
<https://therealbatmanchronologyproject.com/wp-admin/edit-comments.php?s=198.143.37.15&mode=detail&comment_status=s

[2021-03-08 00:11] kamil-vojtek commented on #247
Hi, can I ask what was the reason for dropping this by default in version 5?

[2021-03-08 09:08] utipparaju opened #248 "[BUG]Spam registrations"
Hi there

Thank you bery much for the wonderful plugin , it was all worlking fine until latest update

As soon as we had upated to latest version  of WP zero spam few weeks ago , we have been flooded with spam registrations via wordpress login/registration forms and also reset password spam emails

recent Examples as of todays date

New user registration on your site : Username: johnnyswan

New us

[2021-03-09 00:15] jaredatch commented on #238
I'm not familiar with the latest version/rewrite of WPZS?

What's the best way to debug this? Activate WPZS, create new form with AJAX submit, fill in honeypot field, and then submit?

[2021-03-09 22:51] SummerBrooks commented on #247
@bmarshall511  What is the proper configuration for this feature?

I had left that feature disabled, but now I'm receiving more than 1-2Mb additions to error_log, per day, full of this error:

**PHP Warning:  call_user_func_array() expects parameter 1 to be a valid callback, class 'ZeroSpam\Modules\Comments\Comments' does not have a method 'enqueue_davidwalsh' in /wp-includes/class-wp-hook.php on

[2021-03-10 01:11] bmarshall511 commented on #247
@SummerBrooks This has been fixed in the latest release (v5.0.10)

[2021-03-10 01:23] bmarshall511 commented on #248
Have you verified everything has been configured properly in the Zero Spam settings? If so, can you provide the URL of where spam is coming in?

[2021-03-10 04:51] SummerBrooks commented on #247
I shall update a couple of my sites as soon as the update shows as available!

[2021-03-10 10:53] utipparaju commented on #248
https://pasyanthi.net/courses/the-16-golden-rules-of-vedic-maths/

https://pasyanthi.net/wp-login.php

https://pasyanthi.net/wp-login.php?action=register

We use custom login page provided by our LMS platform, we have been using same for quite some time and no spam came through and everything was working fine unril latest update

[2021-03-11 18:38] EusebiuOprinoiu opened #249 "Move all pages as tabs under Settings > Zero Spam"
Hello, Ben!

I'm opening this feature request in relation to this ticket here:
https://wordpress.org/support/topic/move-everything-under-the-settings-page-by-default
I somehow missed your reply, so forgive my delayed response.

WordPress Zero Spam falls in the category of plugins that do things under the hood, with minimal or no input required from the user. Once configured, we don't really need t

[2021-03-16 13:21] bmarshall511 commented on #248
Can you shoot me a login so I can look into it? You can email me at me@benmarshall.me

[2021-03-16 13:24] bmarshall511 commented on #238
@jaredatch It's similar to the last. For WPForms, there's a class-wpforms.php in the modules directory. That's where all the magic happens for WPForms submissions. Just need to figure out what hook to run for AJAX submissions. I've tried several, can't get any of them to fire though.

[2021-03-18 13:59] bmarshall511 commented on #249
Closing this for now. Many have found this useful and an improvement over the previous version where Zero Spam has its own top-level menu.

Will reopen if more support for this featured is added to this request.

[2021-03-18 13:59] #249 closed

[2021-03-18 15:00] EusebiuOprinoiu commented on #249
Hello, Ben!

You misunderstood!
I'm talking about version 3, when everything was placed under Settings > Zero Spam as tabs.
You're talking about version 4 when you moved Zero Spam to a top-level menu. (I wasn't a fan of that either)
While version 5 is still a slight improvement over version 4, because it dropped the top-level menu, it still feels like a step back from version 3. I hope you change

[2021-03-23 15:44] atwamy opened #250 "Seems to have stopped working [BUG]"
I’ve been using this plugin for a while but it seems to be letting through a lot of spam recently (since the last few updates I think). I’ve checked the settings and selected all that I see relevant but still unfortunately hasn’t stopped. Could someone help please?

[2021-03-29 16:42] jaredatch commented on #238
The issue is with this conditional in the `construct`.

https://github.com/bmarshall511/wordpress-zero-spam/blob/master/modules/wpforms/class-wpforms.php#L27

Specifically, `Access::process()` returns false for `is_admin()`, but all AJAX requests going with `admin-ajax` return true when `is_admin()` is checked.

So, what's happening here is the process method doesn't work with any native WordPress

[2021-03-31 15:24] #238 closed

[2021-03-31 15:25] bmarshall511 commented on #238
@jaredatch Perfect! That did it and good idea about the error message display didn't realize that was an option. Thanks again!

[2021-03-31 15:26] bmarshall511 commented on #250
Please provide the settings, the URL and form where spam is coming through and any 3rd-party form plugins you're using where spam is getting through.

[2021-03-31 15:27] bmarshall511 commented on #247
Update: 5.0.12 will have David Walsh support for WPForms.

[2021-03-31 15:49] hommealone opened #251 "All CF7 submissions being blocked [BUG]"
This plugin is blocking ALL attempted CF7 contact form submissions, even very simple messages. I've tried different message content but even one single simple sentence with obviously no spammy words or punctuation gets blocked. CF7 is apparently blocking it because of a match to something in the Disallowed Comment Keys field on the Settings > Discussion page.

(We do not use Akismet. On some sites

[2021-03-31 16:04] bmarshall511 commented on #251
@hommealone Sorry to hear that. The upcoming release v5.0.12 will include the ability to disable syncing that list. My gut is telling me your CF7 implementation is using that list and maybe something on it that's triggering those messages to fail.

Once released, updated, disable syncing that list, then delete what's there. Let me know if that fixes it for you.

[2021-03-31 16:18] hommealone commented on #251
I don't understand... isn't this a serious problem? The CF7 fields are only: Name, Email, Subject, Message. If my subject is just "form test" or "hello from hommealone", and my entire message field is "I like apples and bananas." then nothing in that submission should match your Disallowed Comment Keys list.

In principle, I like the idea of utilizing the Disallowed Comment Keys field, but if your

[2021-03-31 17:53] hommealone commented on #251
I've updated to version 5.0.12. In addition to my last question, I see now where the exclusions list is coming from (splorp). Perhaps you could raise a bug request with splorp? I think that would be more helpful coming from you, but let me know if I should file that bug report.

Also, even though the option under General Settings for "Sync Disallowed Keys" is unchecked by default, it doesn't autom

[2021-04-01 08:09] atwamy commented on #250
Hi,

This is the form producing spam (the only form on the website) https://www.sureteam.co.uk/contact/tetbury-office/

We use WP forms.

By settings, do you mean the zero spam settings?

***@***.***D726D6.9BCFC260]
***@***.***D726D6.9BCFC260]

Thanks,
Amy

Amy Burton​
Account Manager
***@***.***D726D6.760BCA60]
***@***.******@***.***>
***@***.***D726D6.760BCA60]
01793 766040<tel:01793%20766040>
*

[2021-04-01 16:02] netunia opened #252 "Spam blocking does not work in WordPress Zero Spam 5.0.x versions [BUG]"
Hello,

I have actually stopped working on 3 sites plugin, even the latest update 5.0.12 does not solve the problem. If you roll back to version 4.10.2, the plugin successfully works and blocks spam coming through the forms.

I also tried installing the plugin on a completely clean WordPress 5.7 installation and the result is that WordPress Zero Spam in versions 5.0.x does not work.

All sites hav

[2021-04-12 12:49] cyaburt opened #253 "[BUG] Update to 5.0.12 lots of spam through Contact Form 7; Rolled back"
**Describe the bug**
Wordpress Zero Spam had been working great and the majority of spam was not getting through with the exception of our targeted spam emails which I had blocked by keywords in Settings. I have WP Zero Spam on 8 corporate sites and updated each of these. Now we are receiving spam through all of these. Some are blocked by Barracuda, but others are not.

I have rolled back each of

[2021-04-14 06:52] atwamy commented on #250
Hi,

I never heard back on this? The client is now complaining so if I don't hear back by the end of today unfortunately I'm going to have to find something else to keep the client happy.

Thanks,
Amy
________________________________

Amy Burton
Account Manager
***@***.***
01793 766040
allthingsweb.co.uk
This email and any files transmitted with it are confidential and solely for the use of the in

[2021-04-14 11:26] christopher-beck opened #254 "You have been flagged as spam/malicious by WordPress Zero Spam."
Hello,

The registration integration seems to be pulling an error and flagging any new signups as spam/malicious.

I was just wondering if anyone else has flagged up this issue.

Any help you can give me would be greatly appreciated.

Wordpress Version: 5.7
Zero Spam plugin Version: 5.0.12

[2021-05-27 21:26] jason-riley opened #255 "Unnecessary calls to ipstack"
I have just installed Zero Spam and have 4 blocked IP addresses in the log, yet hundreds of calls to the ipstack API. Given the ipstack API is ONLY used to provide geolocation for reporting of BLOCKED IP addresses, there should only be 4 API calls to ipstack. Instead it appears to be calling ipstack for every user visit, using an unnecessary amount of IP calls. Zero Spam should only be calling the

[2021-05-28 06:06] jason-riley commented on #246
A block based on regular expressions would be even more flexible. For example, almost all the spam I receive comes from Gmail accounts with 1 of 5 specific words contained in the email username. Spammers just open new accounts and repeat variants of email addresses using these same keywords. Defining a regular expression would give 100% flexibility, although the email domain block option would sti

[2021-05-29 23:35] inspiredearth opened #256 "[FEATURE] Add integration for other IP geolocation providers (ipstack alternatives)"
**Is your feature request related to a problem? Please describe.**
The "problem" is that IPStack is relatively expensive. They have a pretty minimal free option (5,000 requests / month). There are other providers with significantly better free and paid options for IP look-ups.

**Describe the solution you'd like**
I would like to be able to use alternatives to IPStack.

**Describe alternatives you

[2021-07-09 17:29] matteoraggi opened #257 "[BUG] Many IP blocked by mistake"
**Describe the bug**
Today me and my firends we discovered that the website www.letturadeicristalli.it is blocked to us, because he recognyze us as spammer, here our ip:
176.201.17.193
177.37.173.137 (a new macbook pro with safari and all updated software)
190.167.47.59 (a chromebook with chrome all updated)

Here the erro that we read: https://ibb.co/tm8Y8TX
To me it looks strange that going to t

[2021-07-13 19:23] Oizaro commented on #257
Same here. I'm been flagged as spam/malicious on website: www.plaffo.com

[2021-07-16 20:11] netunia opened #258 "[BUG] Caching issue with WordPress Zero Spam plugin enabled"
Hello,

I found a problem where the WP Fastest Cache plugin saves a page with a message about blocking malicious bots in the cache, and then displays that page on the next visit to real good visitors. Thus, real visitors to the site are shown a page about blocking bots instead of normal content.

This page is generated by the WordPress Zero Spam plugin. The page should only be displayed to malicio

[2021-07-17 10:27] konsti2020 opened #259 "DOS the "Sync Disallowed Keys" really Sync?"
At first this plugin dos a great job.
But I have a additional question:

Dos the "Sync Disallowed Keys" Function in the Zero Spam plugin really synchronize the word lists or does it simply overwrite the existing list with the new one?

It would be great if I could add my own blacklist keywords for mailing domains that spamming my forms.

An alternative could be a text box to add those individual k

[2021-07-20 11:55] konsti2020 commented on #254
I had the problem at first too, but it worked fine after setting the confidence score for zero spam and Stop forum spam to 70%
Since the score for the most spam Mails is over 90%

[2021-08-03 17:40] bmarshall511 opened #260 "[BUG] Remove remote call to splorp's blacklist"
Need to remove the call since it violates Github's terms of use.

[2021-08-03 17:58] bmarshall511 opened #261 "[BUG] Sanitize & escape variables"
zero-spam/core/admin/tables/class-logtable.php:352: $ids = ( isset( $_REQUEST['ids'] ) ) ? $_REQUEST['ids'] : '';
zero-spam/core/admin/tables/class-blockedtable.php:299: $ids = ( isset( $_REQUEST['ids'] ) ) ? $_REQUEST['ids'] : '';
zero-spam/core/admin/class-settings.php:50: add_settings_error( 'zerospam-notices', 'zerospam-msg', esc_html( $_REQUEST['zerospam-msg'] ), 'success' );

zero-spam/core/

[2021-08-03 18:52] bmarshall511 opened #262 "[BUG] Update chart.js"

[2021-08-03 18:56] #260 closed

[2021-08-03 18:56] #261 closed

[2021-08-03 18:56] #262 closed

[2021-08-03 19:16] bmarshall511 commented on #259
Yes it syncs, however, the latest version reads from a blacklist text file located in the plugin directory vs. getting it remotely (due to Git's terms of use). It overrides the values. Allowing you to add additional/edit it would be a great feature request. Please resubmit as a feature request when creating an issue using an appropriate title and what the actual request is using the Feature format

[2021-08-03 19:16] #259 closed

[2021-08-03 19:18] bmarshall511 commented on #257
You'll need to check the spam blacklists to determine why your IP is getting blocked. Zero Spam doesn't block people indiscriminately, it uses 3rd-party API from known spammy IPs. If you're getting blocked, it's likely because your IP appears on one of those lists. Be sure to double-check the plugin settings as well. You can control how strict things are from there.

[2021-08-03 19:18] #257 closed

[2021-08-03 21:04] SunfireWeb commented on #174
I have a client using Caldera Forms and receiving a lot of spam lately. I like and appreciate this Zero Spam plugin, and would like to apply it to my client's sites, IF I know it would actually help in this case. Thanks for considering.

[2021-08-03 22:09] emmalulu214 opened #263 "[BUG]"
**Describe the bug**
I am not able to access the website www.dfwmsdc.com

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://nmsdc.org/mbe-certification/'
2. Click on 'Dallas/Fort Worth MSDC'
3. Scroll down to 'www.dfwmsdc.com' and click link
4. See error

**Expected behavior**
I expected to be directed to the website

**Screenshots**
![image](https://user-images.githubusercontent

[2021-08-06 09:39] konsti2020 commented on #246
Also it would be a nice addition to search the Log not only by IP address but also by E-Mail so you could detect the ones that are used more often.
An alternative would be a grouping function by E-Mail or IP address in the Log.

[2021-08-16 23:11] RonR-WebDesign opened #264 "[FEATURE] Add Settings Export/Import"
As a web developer I want to use Zero Spam everywhere!   A settings export/import feature would be helpful.  Thanks!

[2021-08-24 17:37] ChrisDaviddd commented on #264
I was also looking for the same answer for my [meat website](https://www.beckandbulow.com)
Thank you really appreciate it.

[2021-10-11 14:40] Hipamo opened #265 "Blocked Locations"
Hello Support,

I start beginning with blocked locations 1 month ago with Russia RU and was approved.
Tried to add CN China last Saturday, but then a message appears at the top of this dashboard with:
“There was a problem adding the record to the database. Please try again.”
So I tried again today and got the same message…
There is nothing wrong with the database in this website.

Can you help?

T

[2021-10-20 04:29] jonasm82 opened #266 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
I am using the CF7 integration and the David Walsh method. I am now seeing the davidwalsh,js file being loaded globally on my site. In my case I am however only needing it to protect my /contact page and do not require it to be loaded anywhere else and also prefer that it isn't to keep unnecessary network requests down.

**Describe

[2021-10-29 03:18] ash-f opened #267 "[FEATURE] HTTP_CF_IPCOUNTRY / X-FORWARDED-COUNTRY support"
Would be nice if you could support HTTP_CF_IPCOUNTRY / HTTP_X_FORWARDED_COUNTRY or equivalent thing that uses a server env to detect country.

[2021-10-29 17:01] ash-f opened #268 "[FEATURE] Maxmind GeoLite2 integration"
Would be nice if you could add support for Maxmind GeoLite2 which Woocommerce uses.
Maxmind GeoLite2 can be used on multiple sites with single license though ipstack has also free tier.

[2021-10-29 17:44] #267 closed, assigned to bmarshall511

[2021-10-29 18:11] bmarshall511 commented on #253
There could be a number of causes, likely your settings haven't been set/strict enough to block those submissions. Please update to the latest version as well to see if it resolves your issue.

[2021-10-29 18:11] #253 closed

[2021-10-29 18:11] bmarshall511 commented on #252
There could be a number of causes, likely your settings haven't been set/strict enough to block those submissions. Please update to the latest version as well to see if it resolves your issue.

[2021-10-29 18:11] #252 closed

[2021-10-29 18:13] bmarshall511 commented on #251
Yes, still provides protection

[2021-10-29 18:13] #251 closed

[2021-10-29 18:13] bmarshall511 commented on #250
There could be a number of causes, likely your settings haven't been set/strict enough to block those submissions. Please update to the latest version as well to see if it resolves your issue.

[2021-10-29 18:13] #250 closed

[2021-10-29 18:14] bmarshall511 commented on #248
Closing since I haven't heard back

[2021-10-29 18:14] #248 closed

[2021-10-29 18:15] bmarshall511 commented on #247
@SummerBrooks Hopefully your issue has been resolved, if not let me know. Also if you could rate the plugin, I'd really appreciate it: https://wordpress.org/plugins/zero-spam/

[2021-10-29 18:15] #247 closed

[2021-10-29 18:27] matteoraggi opened #269 "How to understand who is blocking the site? zero spam"
If I get this error when I go to the website: Your IP address has been blocked by WordPress Zero Spam due to detected spam/malicious activity.
How can I know if the error comes from zerospam, or from David Walsh Technique or from Stop Forum Spam or from ipstack etc.. ?

[2021-10-29 18:28] bmarshall511 commented on #269
Enabled logging, then view the Zero Spam dashboard under the Dashboard admin menu.

[2021-10-29 18:28] #269 closed

[2021-10-29 22:49] ash-f commented on #267
Sure.

[2021-10-29 22:53] ash-f commented on #267
Would be nice if I could set custom env name.
X-FORWARDED-COUNTRY is used on Cloudways which is popular managed cloud VPS.

[2021-10-31 22:46] bmarshall511 opened #270 "[FEATURE] Add support for IPinfo integration"
Add support for IPinfo (https://ipinfo.io/) as an alternative to ipstack.

[2021-10-31 22:47] bmarshall511 commented on #256
@inspiredearth IPinfo integration will be included in the next release (5.1.1) See https://github.com/bmarshall511/wordpress-zero-spam/issues/270

[2021-10-31 22:50] #270 closed

[2021-11-01 01:34] jonasm82 commented on #266
@bmarshall511 Thank you for the update Ben, I already had CF7 asset loading optimized so everything looks good now. And have just left a rating & review. Cheers.

[2021-11-01 05:34] kmob2 opened #271 "Are there any CLI options to enable plugin settings?"
Hello,

I'm about to install the WordPress Zero Spam plugin on ~100 websites. I'm installing the plugin via CLI, however, I noticed that out of the box, the plugins spam features are all disabled and need to be manually enabled via the plugins settings page.

Are there any CLI options available to enable/disable certain settings, such as `Zero Spam | Enabled`, `Protect Comments | Enabled`, `David

[2021-11-01 14:04] bmarshall511 commented on #271
@kmob2 Great idea! I'll work on this and get included in the next release.

[2021-11-01 16:32] #237 closed

[2021-11-01 16:32] #271 closed

[2021-11-01 16:48] bmarshall511 commented on #271
@kmob2 v5.1.1 was just released and included WP-CLI commands:

`wp zerospam autoconfigure` — Auto-configures with recommended settings.
`wp zerospam settings` — Displays all plugin settings.
`wp zerospam set --[SETTING_KEY]=[VALUE]` — Updates a plugin setting.

Hopefully, that helps you out a bit. If you've got time, could you rate the plugin: https://wordpress.org/plugins/zero-spam/ I'd really ap

[2021-11-01 16:49] bmarshall511 commented on #256
@inspiredearth v5.1.1 was just released and includes IPinfo integration.

Hopefully, that helps you out a bit. If you've got time, could you rate the plugin: https://wordpress.org/plugins/zero-spam/ I'd really appreciate it!

[2021-11-01 16:50] bmarshall511 commented on #267
@ash-f I'll look into it, could you create another feature request so I don't forget and you can track the progress of it?

And thanks for the review!

[2021-11-01 16:51] bmarshall511 commented on #237
@konsti2020  was just released and now includes a dashboard widget.

Hopefully, that helps you out a bit. If you've got time, could you rate the plugin: https://wordpress.org/plugins/zero-spam/ I'd really appreciate it!

[2021-11-01 23:19] jason-riley opened #272 "Version 5.1.1 breaks dashboard widgets for WPForms and WP Mail SMTP plugins"
**Describe the bug**
Using version 5.1.1 interferes with the dashboard widget charts for both the WPForms and WP Mail SMTP plugins. The charts no longer render history of email sends/receives and form submissions, and the labels and legends appear incorrectly. There appears to be a conflict in CSS used by WordPress Zero Spam and WPForms/WP Mail SMTP.

**To Reproduce**
Steps to reproduce the behavi

[2021-11-01 23:34] bmarshall511 commented on #272
@jason-riley Looks like you need the pro versions of those plugins to view the charts on the dashboard and I don't have those. Maybe you can help me narrow it down, are you seeing any JS errors in the browser console?

[2021-11-01 23:38] jason-riley commented on #272
`jquery.min.js?ver=3.6.0:2 jQuery.Deferred exception: Cannot set properties of undefined (setting 'offset') TypeError: Cannot set properties of undefined (setting 'offset')
at Object.updateStyle (https://[domain]/wp-content/plugins/wp-mail-smtp-pro/assets/pro/js/smtp-pro-dashboard-widget.min.js?ver=3.1.0:1:7768)
at Object.updateUI (https://[domain]/wp-content/plugins/wp-mail-smtp-pro/assets/pro/js

[2021-11-01 23:46] bmarshall511 commented on #272
@jason-riley Looks like those are all related to WP Mail SMTP Pro, nothing getting reported with ZS's implementation. I'd start with contacting their support. Likely a conflict with the JS implementation of Chart.js, but can't really tell without being able to replicate it myself.

I can say ZS's implementation is standard & doesn't customize the default CSS or JS. The JS for our chart is also sel

[2021-11-01 23:46] #272 closed

[2021-11-02 01:35] jason-riley commented on #272
Those errors only occur when Zero Spam 5.1.1 plugin is active. They don't appear when teh plugin is disabled, and they also don't appear when using Zero Spam 5.1.0 - the errors only occur when Zero Spam 5.1.1 is installed. I am seeing the same issue across multiple websites.

[2021-11-02 13:11] bmarshall511 commented on #272
Understood & wish I could help, but like a car mechanic, I can't fix something I can't replicate. And it would make sense both of those plugins work together since their put out but the same company, doesn't mean their implementation is correct and since the error is coming from WP Mail SMTP Pro. Again, I'd contact their support or just disable the ZS dashboard widget unless you can provide me wit

[2021-11-02 14:57] EusebiuOprinoiu opened #273 "Conflict between Zero Spam and other plugins using GuzzleHttp"
Hello, Ben!
The latest version of WordPress Zero Spam introduced a conflict between WordPress Zero Spam and other plugins that use GuzzleHttp.

`PHP Fatal error:  Uncaught Error: Call to undefined method GuzzleHttp\Utils::chooseHandler() in /wp-content/plugins/zero-spam/vendor/guzzlehttp/guzzle/src/functions.php:61`

Pixel Caffeine had this exact problem when they updated the library a while back.

[2021-11-02 15:45] bmarshall511 commented on #273
@EusebiuOprinoiu Thanks for letting me know, strange one. Zero Spam doesn't use that library directly, instead is a dependency for the IPinfo library. As such, you'll need to contact IPinfo about a resolution. Once they get their library updated, I can update it on ZS which should hopefully fix the issue.

Understand that's a major pain with it being a fatal error. I will look into only including

[2021-11-02 16:05] #273 closed

[2021-11-02 16:06] bmarshall511 commented on #273
@EusebiuOprinoiu Pushed an update to the master branch to only load the library if ipinfo is enabled. Can you download it (https://github.com/bmarshall511/wordpress-zero-spam/archive/refs/heads/master.zip) to see if it fixes your issue?

[2021-11-02 17:26] EusebiuOprinoiu commented on #273
Since I am not using IPinfo, the problem goes away, but your solution is not really a fix. It's just a way to limit the number of websites impacted by this issue.

There is nothing wrong with the IPinfo library or the fact that they use GuzzleHttp.
The underlying problem is that WordPress doesn’t have a way of dealing with third-party code in plugins or themes and, by default, does not play well w

[2021-11-02 17:37] bmarshall511 commented on #273
@EusebiuOprinoiu Right, not a fix, temporary solution as I mentioned. Wanted to get something up quick for you to get rid of the fatal error.

Again, zero spam doesn't load any libraries except for IPinfo. The fact you're getting that error is due to how IPinfo loads its dependencies, not zero spam since it has no required dependencies.

I'll look into that Impostor Plugin for loading the IPinfo l

[2021-11-02 18:01] EusebiuOprinoiu commented on #273
Thank you. I appreciate it!
This temporary solution is good enough for me.
All I wanted to say is that a proper fix is needed in the long run because it will cause issues with almost every plugin that uses this library for remote connections. And there are a lot of them. (some of them essential, like backup or SMTP plugins)
I have seen this issue 6 or 7 times this year alone and every time it was

[2021-11-03 15:04] bmarshall511 commented on #255
Closing, need more information.

[2021-11-03 15:04] #255 closed

[2021-11-05 13:06] EnerKnis opened #274 "[BUG] "Errorcode 500 internal server error" , corrupt .htaccess file"
**Describe the bug**
As of ZeroSpam v5.1.3 :"Errorcode 500 internal server error" after using action [Block IP] [Permanent] from the log tab.
The error is caused by a corrupt  .htaccess file on a Apache 2.4 server.
The syntax used by ZeroSpam to block ips is "Deny from" . This will only work for old Apache servers, prior to v2.4. The current syntax is "Require not ip".

Because it's very hard to f

[2021-11-05 14:39] bmarshall511 commented on #274
@EnerKnis Oh no, thanks for letting me know. I'll get this updated ASAP and push out a hotfix today. Really appreciate the info!

[2021-11-05 14:53] bmarshall511 commented on #274
@EnerKnis For Apache 2.4, does this look right:

[code]

[2021-11-05 14:59] #274 closed

[2021-11-05 15:03] bmarshall511 commented on #274
@EnerKnis Just released a hotfix for this, v5.1.4, let me know if this fixes it for you.

[2021-11-05 20:43] EnerKnis commented on #274
# BEGIN WordPress
# De richtlijnen (regels) tussen "BEGIN WordPress" en "END WordPress" worden
# dynamisch gegenereerd en zouden alleen aangepast mogen worden via WordPress filters.
# Alle wijzigingen aan de richtlijnen tussen deze markeringen worden overschreven.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^inde

[2021-11-06 15:44] TheMenethil opened #275 "Disable widget for subscribers account [FEATURE]"
Hello !
My subscribers have a widget panel for Zero Spam. It's not useful for them but only for admin. There is no options to disable that for all subscribers accounts.

[2021-11-08 14:36] #275 closed

[2021-11-08 17:41] #246 closed

[2021-11-08 20:23] ash-f opened #276 "[FEATURE] Fluent Forms? seems to be disabled somehow"
I see the Fluent Forms module in the plugin folder.
But also I see it's commented out in /includes/class-plugin.php.
Is it intentionally disabled for some reason?
Or Fluent Forms does not need this module?

[2021-11-09 00:06] bmarshall511 commented on #275
@TheMenethil Release is up, hope this accomplishes what you need.

If you have time, could you rate the plugin: https://wordpress.org/plugins/zero-spam/, I'd really appreciate it!

[2021-11-09 00:07] bmarshall511 commented on #274
@EnerKnis Added some warnings to help prevent people from adding too many IPs when using .htacess

If you have time, could you rate the plugin: https://wordpress.org/plugins/zero-spam/, I'd really appreciate it!

[2021-11-09 08:46] lquidfire opened #277 "Error (class-admin.php line 50: Argument #2 must be of type array, bool given) in version 5.1.5"
I received the following error on my WP site after the latest update to version 5.1.5:

`An error of type E_ERROR was caused in line 50 of the file [redacted]/public_html/wp-content/plugins/zero-spam/core/admin/class-admin.php. Error message: Uncaught TypeError: array_intersect(): Argument #2 must be of type array, bool given in [redacted]/public_html/wp-content/plugins/zero-spam/core/admin/class-

[2021-11-09 13:41] bmarshall511 commented on #277
@lquidfire Thanks for letting me know! It'll be fixed in the next release. Until then, if you save settings, with a Dashboard Widget Visibility role selected, it should resolve the issue.

[2021-11-09 13:43] #277 closed

[2021-11-09 13:47] bmarshall511 commented on #276
@ash-f It was once integrated, but they released an update a while back that uses a couple of different methods to prevent spam submissions, similar to Zero Spam, and unfortunately made it more difficult to hook into submissions to integrate Zero Spam's protection. It's commented out for now until I get some more time to devote to digging in alternative ways to integrate it. I'll leave this issue

[2021-11-09 15:02] DynAggelos opened #278 "5.1.5 E_ERROR Thrown"
After updating to 5.1.5 of the plugin, the following E_ERROR was thrown. The website in question is running the latest version of WP, and PHP 8.0.8.

[code]

[2021-11-09 15:27] bmarshall511 commented on #278
@DynAggelos Duplicate of https://github.com/bmarshall511/wordpress-zero-spam/issues/277, see for more info.

[2021-11-09 15:27] #278 closed

[2021-11-09 16:32] bmarshall511 commented on #276
Hey @ash-f, good news! This will be re-enabled with the next release.

[2021-11-09 18:52] #276 closed

[2021-11-09 18:55] bmarshall511 commented on #277
v5.1.6 was just released and includes this fix.

[2021-11-09 19:16] bmarshall511 commented on #183
Closing this due to lack of activity & no longer able to reproduce.

[2021-11-09 19:16] #183 closed

[2021-11-09 20:19] bmarshall511 commented on #174
Closing, Caldera Forms is going away on Dec. 31 2021. See https://calderaforms.com/2021/03/the-future-of-caldera-forms/

[2021-11-09 20:19] #174 closed

[2021-11-09 20:23] ash-f commented on #276
Thank you for the quick update.

[2021-11-09 21:21] bmarshall511 commented on #219
@publicarray Not really clear what you're asking here. Title says 'Ability to disable User agent whitelist feature', but there is no user agent whitelist feature in this plugin. Maybe you can clarify and then will reopen the request if applicable.

[2021-11-09 21:21] #219 closed

[2021-11-09 21:27] ash-f commented on #276
I can turn off Fluent's built-in honeypot if it might become a cause of trouble.
Zero Spam does work well so I don't need built-in feature in this case.
Is it safer to disable built-in honeypot?

[2021-11-09 21:28] bmarshall511 commented on #276
shouldn't cause any trouble, just double protection using the honeypot technique.

[2021-11-09 21:52] publicarray commented on #219
I don't know the state of the plugin now, but in an earlier version any user agent that matched google would bypass the some checks. And this was just a request to disable or at least check that the bot is actually google. User agents are only good blacklisting but useless as a whitelist since anyone can pretend to be anyone

[2021-11-10 06:55] lquidfire commented on #277
Thanks for the very quick work-around and then the quick fix. Much appreciated!

[2021-11-10 13:48] bmarshall511 commented on #277
@lquidfire No problem, glad I was able to get the fix up quick.

If you've got time, would you mind reviewing the plugin: https://wordpress.org/plugins/zero-spam/. I'd really appreciate it!

[2021-11-11 16:24] #201 closed

[2021-11-12 15:51] EusebiuOprinoiu opened #280 "[BUG] User Login Integration breaks WooCommerce Login"
Hello, Ben.

When the User Login Integration is enabled, the login forms created by WooCommerce no longer work.
(customers are blocked from logging in)

[2021-11-12 15:53] bmarshall511 commented on #280
@EusebiuOprinoiu Can you provide details of the block, what it's failing?

[2021-11-12 16:05] EusebiuOprinoiu commented on #280
I'm not really sure what you mean by "details of the block".
I'm referring to the login form created by the `[woocommerce_my_account]` shortcode.
When User Login Integration is enabled, WordPress Zero Spam blocks all login attempts and displays the error message configured in the plugin settings above the form.
People can login without issues using the native WordPress login page, on `/wp-admin`.

[2021-11-12 16:08] bmarshall511 commented on #280
@EusebiuOprinoiu I found the issue. For future reference, you can view details on blocks via Admin > Dashboard > Zero Spam > Logs and then click on the Details button. I'll get a fix pushed up.

[2021-11-12 16:10] #280 closed

[2021-11-12 16:13] bmarshall511 commented on #280
@EusebiuOprinoiu v5.2.1 has been released for this fix.

[2021-11-12 16:15] EusebiuOprinoiu commented on #280
Thank you! That was fast! :)

[2021-11-14 03:54] Dhwty opened #282 "[BUG] PHP errors with Zero Spam v5.2.2"
**Describe the bug**
This afternoon, I updated from v5.1.4 to v5.2.2. Immediately afterward, I began getting the following error about six or seven times at the top of every page on the site:

Disabling the plugin via SSH caused the errors to stop, after a hard refresh. (PHP errors prevent logins on WP, so the admin panel became temporarily inaccessible.)

No other changes were made to the site be

[2021-11-14 15:36] bmarshall511 commented on #282
Closing, this is addressed in the plugin FAQ and an issue with how some hosts use the filesystem. There's an easy fix by adding a constant in your wp-config.php file: `define('FS_METHOD', 'direct');`

See https://pantheon.io/docs/plugins-known-issues#define-fs_method for more info.

[2021-11-14 15:36] #282 closed

[2021-11-15 22:19] wholebiz opened #283 "Create integration with Memberpress registration forms [FEATURE]"
Per discussion with Ben, adapt Zero Spam to work with Memberpress free and paid registration forms. Plugin copy submitted via email.

[2021-11-15 22:46] bmarshall511 commented on #283
For reference, here are the plugin's available hooks: https://docs.memberpress.com/article/325-action-hooks-in-memberpress

[2021-11-16 13:19] #121 closed

[2021-11-16 13:19] #283 closed

[2021-11-16 13:32] bmarshall511 commented on #283
@wholebiz Good news! Found some time and got this added for the registration forms. Was just released in v5.2.4.

[2021-11-16 13:33] bmarshall511 commented on #121
@vzeazy It's been a long time coming, but Zero Spam now supports Mailchimp for WordPress forms! Sorry about the long wait.

[2021-11-16 22:31] ash-f opened #284 "[FEATURE] Mailoptin support"
Would be nice if you could add support for MailOptin which has many email marketing service integration for free.
https://wordpress.org/plugins/mailoptin/

[2021-11-18 02:52] inspiredearth opened #285 "[BUG] CRITICAL Allowed memory size ... bytes exhausted"
**Describe the bug**
I'm seeing many instances of the following error in the Wordpress debug logs:
[code]

**To Reproduce**
Steps to reproduce the behavior:
As it's occurring on server level, I am not sure how to suggest reproducing it.

**Expected behavior**
No critical memory errors.

[2021-11-18 02:59] bmarshall511 commented on #285
@inspiredearth Hmm, that's no good. I haven't received any other reports of this and am unable to reproduce it on my own. Could you provide me with more information? What exactly is being done when that error appears, the hosting environment you're on, the PHP version, and any server specs you could provide.

[2021-11-18 07:26] Gprotin commented on #285
Hello,

I just had the same issue on multiple websites. the error occurred on https://[...]/wp-admin/admin-ajax.php and randomly

set php memory_limit to 256M resolved the issue, but it's not a definitive solution

I'll update the plugin, i'll come here if it happened again

[2021-11-18 13:42] wholebiz opened #286 "[FEATURE] Add support for Memberpress custom login forms"
Thank you for providing support for Memberpress custom registration forms. If you can add support for Memberpress custom login forms, I will recommend that they feature ZeroSpam in their integrations page and KB.

[2021-11-18 14:38] bmarshall511 commented on #285
@Gprotin Same answer I gave @inspiredearth, need more details:

[2021-11-18 16:48] WayneCoombes opened #287 "The documentation link in the plugin takes me to GitHub rather than documentation"
It is not harder than that.

[2021-11-18 16:52] bmarshall511 commented on #287
@WayneCoombes As expected, the documentation is in the Github Wiki (https://github.com/bmarshall511/wordpress-zero-spam/wiki). Are you looking for something specific?

[2021-11-18 17:05] #287 closed

[2021-11-18 19:31] WayneCoombes commented on #287
Thanks for your reply. Q: Am I looking-for something specific? A: No. I was looking for USER documentation, first because I thought it was being offered, and second as an aid to things not clear to me on the settings panels… which is what I had expected to find: information to help fill in the blanks in my knowledge. I didn’t expect USER documentation to be on GitHub, and it wasn’t. When I looked

[2021-11-18 19:33] bmarshall511 commented on #287
Happy to answer any questions you have, most options should be self-explanatory.

[2021-11-19 09:00] Gprotin commented on #285
@bmarshall511 Of course, my users get the error so i can't tell when exactly.

Find details of my installation below

[code]

[2021-11-19 13:35] bmarshall511 commented on #285
@Gprotin Looks like you're running an outdated version of the Zero Spam plugin. Like I said above, make sure you update to the latest version.

[2021-11-21 01:00] wholebiz opened #288 "[FEATURE] Allow Memberpress users to select registration membership level registration forms for ZeroSpam deployment. ZeroSpam should be disabled if form is accessed in the logged-in state."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-11-21 16:54] wholebiz opened #289 "[FEATURE] Email Domain White Label?"
It would seem beneficial to be able to white label an email domain. That way if we have a failed registration from a legitimate user, we could quickly add their email domain.

I don't know all the ins and outs of domain blocking vs email domain blocking, so not sure if this would create a new kind of security risk.

Our ZeroSpam installation is new. So far, we haven't had any blocked legit registr

[2021-11-22 13:46] bmarshall511 commented on #285
Closing this, no response.

[2021-11-22 13:46] #285 closed

[2021-11-22 16:19] #286 closed

[2021-11-22 16:26] bmarshall511 commented on #288
@wholebiz Zero Spam detection methods don't run for logged-in users, closing.

[2021-11-22 16:26] #288 closed

[2021-11-22 16:39] wholebiz commented on #288
Great.

What about "Allow Memberpress users to select registration membership level registration forms for ZeroSpam deployment" ?

[2021-11-22 17:16] spiralofhope opened #290 "[BUG] 403 error when saving options"
I am unable to make any options changes.

**To Reproduce**

1. disable all other addons
2. visit `/wp-admin/options-general.php?page=wordpress-zero-spam-settings`
3. Click `Override & Update Settings`
4. Click `Save Settings` at the bottom
5. See error:

[code]

**Desktop:**
- Edge Version 96.0.1054.29 (Official build) (64-bit)
  - No addons are installed
- Brave Version 1.32.106 Chromium: 96.0.46

[2021-11-22 17:51] bmarshall511 commented on #290
@spiralofhope Hmm, that's no good. Haven't received other reports of this and am unable to replicate myself or existing or fresh WordPress site installs. What version of the Zero Spam plugin are you running?

[2021-11-22 17:53] bmarshall511 commented on #288
@wholebiz Could you create a new feature request and be sure to fill out the details & specifics vs. adding everything in the title. Also, clarify what you mean by 'ZerosSpam deployment'. Assuming the ask is allow admins to select which 'Membership' (`memberpressproduct`) post should have Zero Spam protection.

[2021-11-22 20:34] spiralofhope commented on #290
I'm using 5.2.7 (latest)

I checked and set permissions throughout the install (755 / 644) and that particular file should be accessible.

I wondered if there's something in my `.htaccess` which is interfering, but renaming it didn't help.  Maybe I need to restart something in my server for that to take effect?

I haven't checked into any server-side security yet.  I am not aware of anything exist

[2021-11-22 20:45] bmarshall511 commented on #290
@spiralofhope Not sure, not able to replicate it. Are you seeing anything in the server error logs?

[2021-11-22 22:00] spiralofhope commented on #290
I don't know what to look for in the logs.  I don't have separate error logs, but my regular logs don't show anything when I filter for "`options`".  I do see that my IP address is being logged, and I believe it other activities correctly.

I found that my hosting has something called "ModSecurity", which I learned is known to throw `403 Forbidden` errors.  Initially, disabling ModSecurity did not

[2021-11-23 15:01] bmarshall511 commented on #290
@spiralofhope Thanks for making me aware of this. This might be an issue with you're particular server/setup, but I do have an idea that may fix the issue for you.

If you don't mind, can you install the beta version of Zero Spam here: https://github.com/bmarshall511/wordpress-zero-spam/archive/refs/heads/master.zip and give that a try with ModSecurity enabled. I pushed on a fix for how that actio

[2021-11-23 19:45] spiralofhope commented on #290
I attempted an installation of that file, and when activating it, I got this error:

[code]

(`/path/to` is to redact my info)

I did not remove the addon first, and I still had ModSecurity enabled.

[2021-11-23 19:48] spiralofhope commented on #290
Sorry, I saw that `5.2.7` was still running.  When I disabled `5.2.7` I was able to enable what you gave me (listed as `5.2.8`)

It ran without the error.

However, when reproducing the error, I did still see it when I have ModSecurity enabled.  I just went to the settings page and clicked save, and the 403 is shown.

[2021-11-23 20:31] bmarshall511 commented on #290
@spiralofhope Gotcha, seems like an issue with your specific server/setup. I haven't been able to reproduce it or had any other people report it. The next update will include a refactor of how those actions are processed, hopefully once released, it'll resolve your problem.

Closing this for now, but will re-open if others are seeing this or are able to reproduce it.

[2021-11-23 20:31] #290 closed

[2021-11-24 21:23] spiralofhope commented on #290
The official 5.2.8 resolves my problem; thanks for your effort!

[2021-11-24 21:24] inspiredearth commented on #285
Hi @bmarshall511 ,
I apologise for the late response. I'm working on many projects, and this one was on hold the past week.

I don't know what version Zero-spam was on, as around that same time I did a wp-cli update of all plug-ins. I suspect it was on 5.1.5. It's now on the latest though.

The issue has not occurred again since then, as far as I can tell. If it crops again (and I notice it), I'll

[2021-11-24 22:24] bmarshall511 commented on #290
Excellent, good to hear!

[2021-12-04 09:38] gfxtv opened #291 "Your IP address has been blocked due to detected spam/malicious activity."
I have no idea why this occurred. Never happened before!
How do I resolve this?

[2021-12-06 17:12] bmarshall511 commented on #291
@gfxtv You'll need to contact the site owner that you've been blocked from. Zero Spam does not block user IPs on its own and is based on how a site owner has configured their site.

[2021-12-06 17:12] #291 closed

[2021-12-13 15:48] kiransharma1991 opened #292 "[Still Spam emails]"
I have activated license key but still getting spam emails

[2021-12-13 15:50] bmarshall511 commented on #292
Closing, lack of information. Please follow the instructions when submitting bug/feature requests and provide steps to reproduce what you're experencing.

[2021-12-13 15:50] #292 closed

[2021-12-13 15:55] kiransharma1991 opened #293 "Still getting spam emails"
I have purchased premium membership and activated license key but I am still getting spam emails. please check attached screenshot:
![Screenshot](https://user-images.githubusercontent.com/59990780/145844666-3d74c7c6-5922-43b5-a4ae-02c16f13515c.png)

[2021-12-13 15:59] bmarshall511 commented on #293
@kiransharma1991 I need more information before I can look into it (same as the previous issue you submitted, https://github.com/bmarshall511/wordpress-zero-spam/issues/292). Please provide complete details (see the instructions when submitting an issue). Mainly, what versions of WP and ZP are you running? What URL and type of form are you seeing spam come through? What do you have configured in s

[2021-12-13 16:02] bmarshall511 commented on #293
...you are communicating with me.

[2021-12-13 16:07] kiransharma1991 commented on #293
WP version - 5.8.2
ZP version - 5.2.8

I am sending you few emails, you can check. these looks like spam.

Thanks & Regards

On Mon, Dec 13, 2021 at 9:32 PM Ben Marshall ***@***.***>
wrote:

[2021-12-13 16:08] kiransharma1991 commented on #293
Howdy,

The subscriber ***@***.*** has just subscribed to your list
WordPress Users!

Cheers,

The MailPoet Plugin

You can disable these emails in your MailPoet Settings.
<https://dtnetwork.org/wp-admin/admin.php?page=mailpoet-settings>

Thanks & Regards

On Mon, Dec 13, 2021 at 9:37 PM Kiran Sharma ***@***.***> wrote:

[2021-12-13 16:30] bmarshall511 commented on #293
@kiransharma1991 I take it that you're getting spammy submissions with the MailPoet WordPress plugin. If that's the case, WordPress Zero Spam doesn't currently support those types of forms for spam detection (other detection measures like IP blacklists like Zero Spam, Stop Forum Spam & Project Honeypot still work). Closing this, but if you'd like ZS to support MailPoet forms, feel free to submit a

[2021-12-26 09:56] konsti2020 opened #294 "[FEATURE] Settings Page is slowly getting to big for Mobile devices."
**Is your feature request related to a problem? Please describe.**
I manage my Homepage completely from my Smartphone. Since the complete 'blocked domain list' in the General Tab is shipped with
the settings page it gets difficult to add new Domains, mostly the Tab just freezes.
Also the Export / Import Settings JSON feature could not be used with my Smartphone because of the needed Cache size whe

[2021-12-28 10:44] jevgen opened #295 "[BUG] Honeypot ID not regenerated"
**Describe the bug**
When pressed button "Regenerate Honeypot ID" in settings, it is not regenerated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to plugin settings
2. Click on Regenerate honeypot ID
3. ID stays the same

**Expected behavior**
Expected honeypot ID be the new.

**Additional context**
nginx
No errors reported in log.

[2021-12-29 00:00] ethanclevenger91 opened #296 "Don't enable Zero Spam Enhanced Protection during default configuration"
**Is your feature request related to a problem? Please describe.**
The "Zero Spam Enhanced Protection" setting requires further configuration (a license key) and therefore doesn’t seem like a sensible default to enable. Many users likely won’t even want to purchase a key and will visit the settings after running the wizard to disable it anyway, which defeats the purpose of the one-click automated

[2022-01-03 13:32] bmarshall511 commented on #296
@ethanclevenger91 closing, works as intended. The Zero Spam service helps pay for the continued development of the plugin and is recommended to provide enhanced protection of the site. If it's unneeded, you're able to disable it via admin or if need to do it in bulk, you can use the WP CLI commands.

[2022-01-03 13:32] #296 closed

[2022-01-04 13:00] jankocian opened #297 "[FEATURE] Custom form integration"
Hey, how do I use WP Zero Spam with a custom form?

You claim that it "can be easily integrated into any existing theme or plugin" but I could not find any example :)

I recently inherited a website that used version 3 of this plugin. The form just had a class of zerospam and `zerospam_is_valid()` method was called on form submission. How do I replicate that behavior?

Thanks a lot,
Jan

[2022-01-04 17:43] bmarshall511 opened #298 "[FEATURE] wp-config.php license key"
Add the ability to add a wp-config.php constant to define the Zero Spam API key.

[2022-01-05 07:19] lquidfire opened #299 "[BUG] core/class-utilities.php - Argument #2 ($haystack) must be of type array, bool given"
Hi!

My WordPress site sent me an automated email with the following error message:

Error Details
=============
An error of type E_ERROR was caused in line 109 of the file [REDACTED]/public_html/wp-content/plugins/zero-spam/core/class-utilities.php. Error message: Uncaught TypeError: in_array(): Argument #2 ($haystack) must be of type array, bool given in [REDACTED]/public_html/wp-content/plugins

[2022-01-06 13:45] konsti2020 opened #300 "[FEATURE] last step Email-Domain check"
**Is your feature request related to a problem? Please describe.**
It happens more and more often that bots (users) register with a made up E-Mail Domain. The confirmation e-mail is then sent to the blank, and the repeated delivery attempts then use up resources.

**Describe the solution you'd like**
It would be good when the domain could be checked if it is a valid E-Mail Domain, something simila

[2022-01-06 14:58] ianpegg commented on #295
Can confirm the bug can be reproduced on LiteSpeed installs too. All installs I maintain are running Zero Spam 5.2.8 and WP 5.8.2.

[2022-01-06 15:57] #295 closed

[2022-01-06 15:57] bmarshall511 commented on #295
@jevgen @ianpegg Thanks for letting me know. I've found the issue & will be fixed in the next release.

[2022-01-06 16:01] #299 closed

[2022-01-06 16:14] #298 closed

[2022-01-06 16:14] bmarshall511 commented on #298
This will be included in the next release.

[2022-01-06 16:22] bmarshall511 commented on #300
@konsti2020 this will depend on the form integration you're using. Most forms already have basic email domain validation checks (i.e. WP registrations, comments, email form fields, etc.).  What specific use case/implementation are you thinking this would be good for?

[2022-01-06 16:24] bmarshall511 commented on #297
@jankocian You can find examples under the modules directory on how to hook into zero spam validation. Let me know if you need help.

[2022-01-06 16:24] #297 closed

[2022-01-06 17:27] konsti2020 commented on #300
I use contact form 7 for all my form fields, newsletter, contact form and so on.
Now there are more and more cases in which a E-Mail domain is specified that cannot receive e-mails but for the plugin all seems okay since the user could register for the newsletter (or similar).
Then when the verification mail couldn't be sendet I get a notification mail that the E-mail domain isn't answering.
So it

[2022-01-06 17:40] bmarshall511 commented on #300
@konsti2020 Can you provide some example email addresses they are using?

[2022-01-06 17:52] konsti2020 commented on #300
Sure, here are some of the last:

coolyarddecorations.com
truckmetalworks.com
cheapgreenteabags.com
fastlasermouses.com
freeinvestoradvice.com
softtoiletpaper.com
visagency.net
sportsstores.co
exnik.com
westrb.com
spicysallads.com
vaulker.com
dynainbox.com
eastworldwest.com
nymega.com
drypipe.com
ovaki.com
firstaidkit.services
bangkokhotelhub.com

[2022-01-18 21:20] bmarshall511 opened #301 "[BUG] Missing parameter sanitization in the admin dashboard"
We got a report about a security issue in one of your plugin, https://wordpress.org/plugins/zero-spam/, as it does not properly sanitise and escape and order and orderby parameters before using them in a SQL statement in the admin dashboard, leading to a SQL injection. We confirmed the issue in the latest version, currently 5.2.9.

To reproduce, with at least one IP in the “Blocked IPs” list, open

[2022-02-03 11:34] konsti2020 commented on #300
These are two more that slipped through today:
andreas_reiss@b.bergaransi.my.id
mckenzie_dehamel@e.bergaransi.my.id

[2022-02-03 17:47] richboos opened #303 "Possible [BUG] - IP Whitelist field contains characters that weren't entered by the user"
**Describe the bug**
If you enter a single IP address into this field, when the page loads after saving there are extra characters.
This might just be a visual issue and not an indication that IP Whitelisting itself has a problem. I did not check to see if this means extra characters are actually being stored in the database. IP Whitelisting has never worked for us, so I cannot tell if this is act

[2022-02-04 13:38] ianpegg commented on #303
Can confirm the same issue as the OP across all my client sites, running WP 5.8.3 & 5.9.

[2022-02-04 14:31] ianpegg opened #304 "Adding API key to Google API integration has no effect [BUG]"
**Describe the bug**
Adding an API key to the Google Maps integration has no effect. On the plugin dashboard there is no geolocation data under 'Detections'. In the log, there is no geolocation data in the 'Country' or 'Region' columns.

No error message appears after adding the API key and there is no error log trace reporting any kind of API issue. On the Google Cloud Platform dashboard, there a

[2022-02-04 18:15] bmarshall511 commented on #304
@ianpegg Geolocation isn't provided by Google, that's used only to display the map. To enable geolocation, you'll need to use one of the geolocation services like IPstack or IPinfo.

[2022-02-04 18:15] #304 closed

[2022-02-07 11:19] ianpegg commented on #304
Thanks, @bmarshall511 - I suspected I'd missed something.

Quick feedback: there is an opportunity to improve the in-plugin documentation. IPstack, IPinfo and Google Maps are all presented as 'Geolocation' settings. Any reasonable person might be forgiven for thinking that they all therefore perform the same function, whereas in fact, the first two are interchangeable, but the last one is not.

Si

[2022-02-14 12:38] adam-marash opened #305 "[FEATURE] Format log date by site preference, not hard-coded to US format"
**Is your feature request related to a problem? Please describe.**

WordPress Zero Spam displays a log at Dashboard > Zero Spam > Log. This log includes a date column. Dates in this log are presented in a fixed US format, which in the general case, will likely be inconsistent with the admin's desired preference defined under Settings > General > Date Format/Time Format.

**Describe the solution yo

[2022-02-18 14:15] bmarshall511 opened #306 "[FEATURE] Support for WooCommerce registration & login forms"

[2022-02-20 16:08] EnerKnis opened #308 "tab Blocked IPs is empty"
WordPress version:    5.9
ZeroSpam version:     5.2.12

**Zero Spam for WordPress Dashboard**
1) tab Blocked IPs is empty, nothing found. Plus unable to "Add Blocked IP Address" : error "Please enter a valid IP address."
2) tab Log : all IPs are shown but unable to "Add/Update Blocked IP". Changing Type or Reason, both will give the error "Please enter a valid IP address."

Database looks ok:
wdps

[2022-02-22 13:48] bmarshall511 commented on #308
@EnerKnis Thanks for the report! This will be fixed in the next release.

[2022-02-22 13:49] #306 closed

[2022-02-22 13:49] #308 closed

[2022-02-22 23:38] ChiKaLiO opened #309 "[BUG] JSON API Blocked"
Hello, i’m working with json api, but Zero Spam keep blocking the requests how to deal with that ?

[2022-02-22 23:46] bmarshall511 commented on #309
Closing, please follow the instructions when reporting an issue. We're unable to help without the appropriate information. Feel free to resubmit with complete details.

[2022-02-22 23:46] #309 closed

[2022-02-24 12:19] EusebiuOprinoiu opened #310 "[BUG] Login issues with David Walsh method enabled"
Hello, Ben!

After the last update, all login attempts fail via the WooCommerce login form.
The issue is caused by the David Walsh protection method.

[2022-03-02 17:59] bmarshall511 commented on #310
@EusebiuOprinoiu Please follow the instructions when submitting an issue, I need more details than 'it doesn't work' to track down what's going on. Can you provide an example URL?

[2022-03-02 18:58] EusebiuOprinoiu commented on #310
Hello, Ben!

I can't provide an example URL. I don't have any WooCommerce websites.
The issue was brought to my attention by a friend that uses WooCommerce, and right now, he has Zero Spam disabled.
He is in the middle of a product launch and he won't re-enable your plugin until the issue is fixed. (he received multiple emails and phone calls from customers that could not log in to their accounts)

[2022-03-03 21:36] #310 closed

[2022-03-17 14:00] EusebiuOprinoiu opened #313 "[BUG] WooCommerce registrations blocked during checkout"
Hello, Ben!

Its been brought to my attention that all WooCommerce registrations made during checkout fail. And with the registration, the payment made by customers is blocked as well.
Your new way of checking WooCommerce registrations doesn't take into account that new accounts can be created during the checkout as well. Right now you are only protecting the registration form displayed under My A

[2022-03-17 15:29] bmarshall511 commented on #313
@EusebiuOprinoiu thanks for the details, think I found an issue and pushed a fix: https://github.com/Highfivery/zero-spam-for-wordpress/pull/314

Tested on my local and looks good, can you confirm?

[2022-03-17 15:46] EusebiuOprinoiu commented on #313
Yes. It works great!
Thanks...

[2022-03-17 15:59] #313 closed

[2022-03-17 21:50] konsti2020 commented on #300
This is one of the sample E-Mails I get when they register with a E-Mail that has a Domain without a Dns-entery:

[code]

Also the number of these Spamers grows from week to week.

Best regards

[2022-03-18 20:51] giuseppeyes opened #315 "Bug with last release (probably)"
Hello friends,

I have installed Zero Spam since 2 weeks and have accepted 7 fake address.

Today I have updated the plugin and, to improve the performance, I have set the automated configuration to check if it works not to accept other fake addresses and this happens (and then subscribe to the service as it will be a portal with thousands of Users so I need the maximum available block available).

[2022-03-18 20:56] giuseppeyes commented on #315
![Screenshot 2022-03-18 at 21-53-58 Zero Spam Settings ‹ Amodio live — WordPress](https://user-images.githubusercontent.com/87819525/159081871-26a6efc1-fabb-4b68-8688-6f09d28a638a.png)

With this setting does not crash. If you select "Log Blocked Login Attempts" it crashes.

Thank you,

Giuseppe

[2022-03-19 00:54] bmarshall511 commented on #315
@giuseppeyes I'm unable to replicate the issue you described. I'll need more specific details & able to replicate it to help.

Please provide the Zero Spam version you're using, an export of the Zero Spam settings, and the URL where this issue is occurring. Even better if you're able to provide a staging/testing URL where I can replicate this issue.

[2022-03-19 17:28] giuseppeyes commented on #315
{"share_data":false,"widget_visibility":["administrator"],"block_handler":"403","block_method":"php","blocked_message":"Your IP address has been blocked due to detected spam\/malicious activity.","blocked_redirect_url":"https:\/\/wordpress.org\/plugins\/zero-spam\/","log_blocked_ips":"enabled","max_logs":"10000","ip_whitelist":false,"blocked_email_domains":false,"davidwalsh":"enabled","davidwalsh_

[2022-03-19 17:33] giuseppeyes commented on #315
Version 5.3.2 . The difference with settings provided is that if you tick "Log Blocked Login Attempts" and you insert correct data into login website becomes unreachable. To reach the website you have to disable plugin (I do via file manager on plesk).

Amodio.live is the website.

If you want to try yourself I can give you credential as, at the worse, I have backup to recover the website.

Please

[2022-03-26 07:17] konsti2020 commented on #294
I thought of another possibility to add the Spam Domains of Spam Bots that managet it somehow to get registered to the 'blocked domain list' .
In the Users Tab you could add the option 'Mark as Spam' to the mass selection options so the mail domain of this user's will be added to the 'blocked domain list' and the users will be deleted.

[2022-04-13 15:16] #305 closed

[2022-04-13 15:16] bmarshall511 commented on #305
@adam-marash Sorry for the delay and thanks for the catch. This will be included in the next release.

[2022-04-17 18:31] giuseppeyes commented on #315
Hi Ben,

I have not changed set but I have not received any new successfull
attempt to registration.

Anyway I want to subscribe and I have two questions; the first is
simple: no paypal? If not, why? Only to understand.

The second is a but more complex because I actually don't understand
what the Zero spam upgrade does with its blacklist Api limited to 10,000
per days. What does it mean?

Anyway

[2022-04-18 11:21] courtchatter opened #316 "[FEATURE]"
I use WPforms. Just looking the name entered on the form I know that it will be spam. For example RonaldArticGC RonaldArtic

Spammers seem to use a first name ending with the last 3 characters entered as lowercase uppercase uppercase or numeric uppercase uppercase.

So to stop these an additional option of a Name validation to disallow the last 3 characters of First Names ending in the character c

[2022-04-18 12:14] courtchatter opened #317 "[FEATURE] Make it cleared how disallowed words work"
I use WPforms simple contact form and received an email that included the word porn.
To me that is a pretty basic word that I would expect to be caught by an ant-spam function.

So I went to the Zero-Spam settings and the only option for words is "Override & Update Core Disallowed Words"
I read that as I can either Override Core Disallowed Words OR I can Update Core Disallowed Words (Add To Core D

[2022-04-21 00:58] spiralofhope commented on #290
The official 5.3.5 or earlier release has reintroduced the issue.

[2022-04-21 12:40] bmarshall511 commented on #290
@spiralofhope We're unable to reproduce this. Can you provide more details (i.e. an export of your settings, version of the plugin, the steps to take to reproduce this error, etc.)?

[2022-04-22 22:17] bmarshall511 opened #318 "[BUG] Admin message isn't dismissed when clicked"

[2022-04-22 22:17] #318 closed

[2022-04-22 22:38] bmarshall511 commented on #315
@giuseppeyes Closing this, please contact info@zerospam.org regarding subscription questions.

[2022-04-22 22:38] #315 closed

[2022-04-26 04:56] spiralofhope commented on #290
I've reproduced it on my end.

- Uninstall
- Reinstall
- Go to settings
- Under "Use Blocked Email Domains Recommendation" click `[Override & Update Blocked Email Domains]`
- Save settings
- An error message is seen:

[code]

[2022-04-30 15:06] courtchatter commented on #317
So you changed the title to Make it cleared how disallowed words work (cleared is a typo request by you).

It should be clear to you then that if what I reported is not a Bug, then the Feature is what I was trying to do --- I want to add an additional word to  the disallowed words list. I don't just want you to make it clear how disallowed words work I want to be able to add an additional disallow

[2022-05-03 10:55] inspiredearth opened #319 "[BUG] Can't Dismiss the "Your site is vulnerable to attacks" notification"
I reported this on Wordpress.org. To save some time, you can refer to that [here](https://wordpress.org/support/topic/cant-dismiss-the-your-site-is-vulnerable-to-attacks-notification/).

**Describe the bug**
If Enhanced Protection is enabled (without a license key being entered), this notification displays in WP-ADMIN, and it can't be removed (clicking `Dismiss` takes me to the settings page for t

[2022-05-04 13:14] EusebiuOprinoiu commented on #319
For me, the notification can be dismissed, but it's displayed again after a plugin update.
Also, the notification is displayed for all users, regardless of their user role, but only administrators can dismiss it. (they are the only ones that can access the settings page)

**Expected behavior**
- The notification should be displayed to administrators only
- Users should be able to dismiss the notif

[2022-05-04 22:11] inspiredearth commented on #173
Ben, I'd be happy to give you a license for Divi. Let me know if that's still needed.

[2022-05-08 16:39] #319 closed

[2022-05-17 02:13] inspiredearth opened #321 "[BUG] IPs being wrongly blocked"
**Describe the bug**
Today I updated Zero Spam to v 5.3.9

Less than 2 hours later, I get notified by UptimeRobot that the site is down.

I check the site (via a browser that's logged into it) and it loads fine. So I check the site using a private browser instance, and I get "Your IP address has been blocked by WordPress Zero Spam due to detected spam/malicious activity."

I have since checked the

[2022-05-30 00:45] Connor0517 opened #322 "ip adress blocked on https://www.commodore.ca/"
i get Your IP address has been blocked by WordPress Zero Spam due to detected spam/malicious activity on https://www.commodore.ca/. and i don't know why.

[2022-05-31 12:56] #322 closed

[2022-06-10 13:31] bmarshall511 opened #323 "[FEATURE] Support legacy Give donation forms"

[2022-06-13 12:06] territutich opened #324 "[BUG] got message "Your IP address has been blocked by WordPress Zero Spam due to detected spam/malicious activity.""
**Describe the bug**
I got an alert this morning that once of my client's sites was down. When I checked it out, I see "Your IP address has been blocked by WordPress Zero Spam due to detected spam/malicious activity."

I haven't been on this site in about a week, and there's certainly been no spam activity from me.

I have disabled the plugin for now to ensure this isn't happening to other site vi

[2022-06-13 14:23] bmarshall511 commented on #324
@territutich Zero Spam doesn't block users itself without configuration from the admin. If you're getting blocked, you'll need to enable logging in admin to find information about the block and the reason why it's occurring.

[2022-06-13 14:57] bmarshall511 commented on #321
@inspiredearth Zero Spam doesn't block users itself without configuration from the admin. If you're getting blocked, you'll need to enable logging in admin to find information about the block and the reason why it's occurring.

[2022-06-13 15:08] bmarshall511 commented on #323
Closing, we've verified this works on both legacy and new forms.

[2022-06-13 16:00] bmarshall511 opened #325 "[FEATURE] Add support for Gravity Forms"
Reference:

* https://docs.gravityforms.com/category/developers/hooks/
* https://docs.gravityforms.com/gform_pre_render/
* https://docs.gravityforms.com/gform_pre_submission_filter/

[2022-06-13 23:11] inspiredearth commented on #321
@bmarshall511 Thanks Ben. Understood.
The thing is, I've not "configured" this installation of ZeroSpam. It was installed, and left as-is. Yet, seemingly on its own accord, the site was inaccessible due to IP (seemingly all IPs) being blocked. Hence my reason for posting it as a potential bug report.

Also, it wasn't just me getting blocked, as a result of me doing something that may have triggere

[2022-07-03 12:05] PeopleInside opened #327 "[FEATURE] Give compatibility with wpDiscuz (https://it.wordpress.org/plugins/wpdiscuz/)"
**Is your feature request related to a problem? Please describe.**

Zero spam is not working with the plugin Comments – wpDiscuz (90.000+ installations)

**Describe the solution you'd like**

Can you fix the issue where Zero spam block the correct comments submission?
If Zero spam is active and is also active wpDiscuz (https://it.wordpress.org/plugins/wpdiscuz/) and you try to submit a comment you

[2022-07-08 14:33] MACscr commented on #255
im going to reopen this as i have the same issue with ipinfo. Even worse, its using 20k api calls when only 3500 of the ip's are unique. caching is setup for 14 days. With that said, as the original poster mentioned, the calls should only be made in the admin and only for blocked ip's and for those reports? Obviously that doesnt need to be done on thy fly and should simply be done when the ip is l

[2022-07-18 21:37] kate3686 opened #328 "[BUG]"
**Describe the bug**
I am unable to save any settings.  I'm specifically trying to whitelist an IP address, however any settings that I modify are not saved.  I will enter the IP, click save and then redirected to a 404 error (redirects to "wp-admin/options.php" page)

**To Reproduce**
Steps to reproduce the behavior:
1. Settings > Zero Spam > General
2. Add IP address to whitelist
3. Click "save

[2022-07-20 13:37] bmarshall511 commented on #328
@kate3686 I'm not able to replicate this issue & haven't received any other reports about it. What version of the plugin and WordPress are you running?

[2022-07-20 18:45] kate3686 commented on #328
Thank you for responding.  I'm running fully updated versions of both: WP 6.0.1 and ZeroSpam 5.3.9

I'm happy to make a video and/or message you login credentials.  Appreciate any help you can provide :)

[2022-07-22 18:06] kate3686 commented on #328
Any chance you can help?

[2022-07-26 21:37] inspiredearth commented on #321
Hi Ben,
I would appreciate some elaboration on your response to this ticket.

Did you read my reply on June 14th?

I have returned to this ticket because today, after not accessing the site in question for at least a month (probably not since mid June), I have tried to access it and I am getting the message, "Your IP address has been blocked by WordPress Zero Spam due to detected spam/malicious ac

[2022-07-26 22:27] inspiredearth opened #329 "[BUG] IPs being blocked without apparent reason"
I raised this issue here: https://github.com/Highfivery/zero-spam-for-wordpress/issues/321
In my opinion Ben you've closed that ticket prematurely.

I have submitted two follow-up messages on that ticket, but I suspect you won't see them since the ticket was closed. So I am reopening this new ticket, with my most recent comment (from today).

- - - - -
I have returned to this issue because today,

[2022-07-28 20:57] kate3686 commented on #328
Still looking for help on this.  We are paying monthly - is there not support included?  Thank you!

[2022-07-29 12:27] bmarshall511 commented on #328
@kate3686 Yes, please provide as much info as possible. Since we're not able to reproduce it & haven't received any other reports of it, it's likely an issue with you're website that's causing the plugin to fail saving options. If we're unable to replicate it, we won't be able to fix it.

If you'd like to shoot a login to info@zerospam.org with any additional info, we can take a look at it on your

[2022-07-29 19:41] kate3686 commented on #328
Just sent you an email with login credentials - thanks!

[2022-08-01 12:25] bmarshall511 commented on #328
@kate3686 We got the login credentials and took a look. Seeing the same as you are, but again, able to reproduce in other environments. Seems to be an issue specific to your installation. Can you check your error logs and see if there's anything related being reported?

In order for us to debug further, we'll need access to the code on your site. This is best accomplished by providing a staging or

[2022-08-03 16:45] kate3686 commented on #328
I have created a staging site and sent you the details. Thank you so much!

Kate

[2022-08-15 23:55] kate3686 commented on #328
Any update? It's been quite awhile...

Thanks!

[2022-08-17 15:27] bmarshall511 commented on #328
@kate3686 No, we haven't had time to dig into this yet. We take issues by order of importance and since we haven't received any other reports about what you're experiencing or able to replicate it, it's lower on the list. We'll update this thread as soon as we have something new to report.

In the meantime, you may want to have your web developer look at your server logs and/or try disabling all p

[2022-08-17 17:50] kate3686 commented on #328
OK - thank you. I'll check in again later.

Best,
Kate

On Wed, Aug 17, 2022 at 8:28 AM Ben Marshall ***@***.***>
wrote:

[2022-08-29 15:21] bmarshall511 opened #330 "[FEATURE] Ability to block locations from submitting WP Give donation forms"
Please look into what it would take to control who can submit WP Give donations by location.

[2022-08-29 15:27] bmarshall511 opened #331 "[BUG] Getting site is vulnerable with valid license on multi-site"

[2022-08-30 13:16] bmarshall511 opened #332 "[BUG] PHP DB notices on first activation"
In a fresh WP install, when activating the plugin for the first time, get the following errors:

Query | Caller | Component | Error Message | Error Code
-- | -- | -- | -- | --
DESCRIBE wp_wpzerospam_log; | +ZeroSpam\I\DB->update() | Plugin: zero-spam-for-wordpress | Table 'local.wp_wpzerospam_log' doesn't exist | 1146
DESCRIBE wp_wpzerospam_blocked; | +ZeroSpam\I\DB->update() | Plugin: zero-spam-f

[2022-08-30 14:34] #330 closed

[2022-08-30 14:35] bmarshall511 commented on #328
Closing, no activity.

[2022-08-30 14:35] #328 closed

[2022-08-30 15:37] kate3686 commented on #328
Please keep this open - I'm waiting on you for action. Thank you!

On Tue, Aug 30, 2022, 7:36 AM Ben Marshall ***@***.***> wrote:

[2022-08-30 15:53] bmarshall511 commented on #328
@kate3686 This issue seems to be specific to your environment & as such, we're able to find the issue you're experiencing. As suggested above:

[2022-08-30 16:38] kate3686 commented on #328
I was told you would be working on this issue for me at some point.  Is
that not the case?

On Tue, Aug 30, 2022 at 8:54 AM Ben Marshall ***@***.***>
wrote:

[2022-08-30 16:41] bmarshall511 commented on #328
If we can't replicate it, we can't work on it. Just like a car dealership, bring a vehicle in with a squeaky wheel but doesn't squeak when they try, nothing they can do about it. I'd suggest contacting your developer to see what on your setup is causing the issue.

[2022-08-30 18:24] kate3686 commented on #328
I provided you with an admin account on a staging site and also cpanel
access.  I was told *"No, we haven't had time to dig into this yet. We take
issues by order of importance and since we haven't received any other
reports about what you're experiencing or able to replicate it, it's lower
on the list. We'll update this thread as soon as we have something new to
report." * So.... I thought you'd

[2022-09-01 19:02] bmarshall511 commented on #331
Fixed as of v5.4.0 (452ca2de01cd4832f402d27265d214514695f21c)

[2022-09-01 19:03] bmarshall511 commented on #325
Support added as of v5.4.0! (452ca2de01cd4832f402d27265d214514695f21c)

[2022-09-01 19:03] #325 closed

[2022-09-03 15:32] bmarshall511 commented on #327
Thanks @PeopleInside for letting me know! The next version, 5.4 will have support for wpDiscuz. You can download the beta version now if you'd like: https://github.com/Highfivery/zero-spam-for-wordpress/tree/5.4.0

[2022-09-03 15:32] #327 closed

[2022-09-03 16:10] bmarshall511 commented on #317
The next release includes significant UI enhancements and a better explanation of what does what. You can always add to the disallowed word list once populated with the recommended words from Zero Spam.

[2022-09-03 16:10] #317 closed

[2022-09-03 16:35] bmarshall511 commented on #316
Thanks for the input! v5.4 will include enhanced security features for WPforms including the ability to use the disallowed words list to validate input against. You can download the beta version here: https://github.com/Highfivery/zero-spam-for-wordpress/tree/5.4.0

[2022-09-03 16:35] #316 closed

[2022-09-03 16:47] bmarshall511 commented on #300
Thanks for the input! v5.4 will include enhanced security features related to email checking including attempting to check if the domain can actually get an email. You can download the beta version here: https://github.com/Highfivery/zero-spam-for-wordpress/tree/5.4.0

[2022-09-03 16:47] #300 closed

[2022-09-03 16:49] bmarshall511 commented on #294
v5.4 includes major UI enhancements including a boost in the setting page load times. You can download the beta version here: https://github.com/Highfivery/zero-spam-for-wordpress/tree/5.4.0

[2022-09-03 16:49] #294 closed

[2022-09-03 16:49] #210 closed

[2022-09-03 17:25] courtchatter commented on #316
Hi Ben and thanks for the update.

However, will v5.4 specifically provide the feature that I requested in issue #316?

I see that you have closed the issue but from your reply I don’t believe that you will be providing what it is that I am requesting.

Here was my request:
I use WPforms. Just looking the name entered on the form I know that it will be spam. For example RonaldArticGC RonaldArtic
S

[2022-09-05 23:33] courtchatter opened #334 "Question?"
Why has issue #316 been closed? The specification for the requirement of the feature given in issue #316 was very specific.

Your reply was:
Thanks for the input! v5.4 will include enhanced security features for WPforms including the ability to use the disallowed words list to validate input against.

Issue #316 has absolutely nothing to do with words!! It is about the character string of the last

[2022-09-12 12:00] bmarshall511 opened #335 "[BUG] Unable to delete the plugin"
When pressing delete, the plugin stays.

[2022-09-12 12:02] bmarshall511 commented on #335
Fixed in v5.4.1 https://github.com/Highfivery/zero-spam-for-wordpress/commit/37cb63781177bd120cee742aad46355b862b9060

[2022-09-12 12:02] #335 closed

[2022-09-12 12:07] bmarshall511 commented on #334
@courtchatter

1. #316 wasn't submitted correctly, nor was this one. Please follow the instructions laid out when submitting feature/bug requests
2. As stated in #316 (https://github.com/Highfivery/zero-spam-for-wordpress/issues/316#issuecomment-1236160769) you can use the disallowed words list to accomplish this request.
3. Adding such validation to name-specific fields is not feasible for a form

[2022-09-12 12:07] #334 closed

[2022-09-12 12:15] bmarshall511 opened #336 "[BUG] CLI commands no longer working"
https://wordpress.org/support/topic/latest-update-disabled-all-anti-spam-options/#post-16001248

[2022-09-12 12:42] #336 closed

[2022-09-14 03:35] courtchatter opened #337 "[FEATURE] Provide WPForms Simple Contact Form interrogation of the First Name when it is supplied on the form"
**Is your feature request related to a problem? Please describe.**
You keep closing my feature request saying As stated in https://github.com/Highfivery/zero-spam-for-wordpress/issues/316 (https://github.com/Highfivery/zero-spam-for-wordpress/issues/316#issuecomment-1236160769) you can use the disallowed words list to accomplish this request.

THAT IS INCORRECT - That does not apply to this featur

[2022-09-19 18:26] DonnieBoy commented on #332
I have activated/deactivated several times the plugin in Network but the problem remains, why?

[2022-09-21 12:27] yiannisc opened #338 "[BUG] Fatal error - disable_emojis_tinymce - class-security.php (?)"
Hi,

After updating to 5.4.2 I got the following error message when I tried to add a new post:

-----------------------------------
Fatal error: Uncaught TypeError: call_user_func_array(): Argument #1 ($callback) must be a valid callback, function "disable_emojis_tinymce" not found or invalid function name in /var/www/mjhudson.com/wp-includes/class-wp-hook.php:309 Stack trace: #0 /var/www/mjhudson

[2022-09-21 12:46] bmarshall511 commented on #338
@yiannisc Thanks for notifying us. We just pushed an update that fixes this issue (https://github.com/Highfivery/zero-spam-for-wordpress/commit/7121f63489ee6d8cee1901e850b41b7a01d7a034). Let me know if the problem persists after updating to v5.4.3.

If haven't already, please submit a review for the plugin: (https://wordpress.org/support/plugin/zero-spam/reviews/?filter=5)

[2022-09-21 12:46] #338 closed

[2022-09-21 12:47] yiannisc opened #339 "[FEATURE] Divi forms support"
Hi,

Could you add support for Divi forms?

I can send you a copy of the Divi theme or plugin and a licence key so you can use it.

Many thanks,
Yiannis

[2022-09-25 13:22] courtchatter opened #340 "[BUG] Error - Your Site is Experiencing a Technical Issue"
**Describe the bug**
A clear and concise description of what the bug is.

I upgraded the Zero Spam plugin to Version 5.4. and recxeived the Email Your Site is Experiencing a Technical Issue

Given what the email said I have deactivated Zero Spam until I am notified that the error is fixed.

WordPress caught an error with one of your plugins, Zero Spam for WordPress.

Here are the reported error de

[2022-09-27 15:12] bmarshall511 commented on #340
@courtchatter We're unable to replicate the issue & the line it's complaining about doesn't reflect what's in the current version's code. Can you ensure you're running the latest version? If still experiencing it, can you provide a staging site where we can replicate it (with credentials to admin & code)?

[2022-09-27 16:33] courtchatter commented on #340
As stated on the Initial Bug Error details
WordPress version 6.0.2
Active theme: MH Magazine (version 3.9.13)
Current plugin: Zero Spam for WordPress (version 5.4.3)
PHP version 7.4.30

Sorry but no I am unable to provide a staging environment though I can provide a support user access with Admin rights. I'm not sure how best to provide that to you as email replies would get reproduced here and fo

[2022-09-27 16:40] bmarshall511 commented on #340
Understand, but just like the car mechanic, if we're unable to reproduce, we can't fix it. I'll leave this open for now in case anyone else experiences this & is able to give more details so we can reproduce.

[2022-10-06 10:29] michaelbragg opened #341 "[BUG] PHP 8+ Compatibility with Impload parameter order"
**Describe the bug**

As part of our upgrade to PHP8. Our scans have noticed the following incompatibility with PHP8:

– [PHPCompatibility](https://github.com/PHPCompatibility/PHPCompatibility/blob/develop/PHPCompatibility/Sniffs/ParameterValues/RemovedImplodeFlexibleParamOrderSniff.php)

The offending lines of code are:
- https://github.com/Highfivery/zero-spam-for-wordpress/blob/master/core/clas

[2022-10-08 13:17] konsti2020 opened #342 "[BUG] A data query is issued instead of the blocked message"
**Describe the bug**
From time to time I test my homepage to see if everything is working. Today Zero Spam had some unexpected behaviour.
I tried to register myself with a blocked domain but instead of showing the Blocking page it showed what to me looks like a data request for some sort of API or PHP error message.
**The output text after clicking on register:**
Array ( [headers] => Requests_Util

[2022-11-24 14:04] leewillis77 opened #343 "[BUG] WPForms/David Walsh outputs broken javascript"
**Describe the bug**
When WP Forms integration is added, and David Walsh Technique is enabled, the plugin outputs the following in the footer of the page:

[code]

This can fail if jQuery has not yet been loaded (e.g. if JS scripts are pushed to the end of the DOM, and/or deferred) yielding the following error in the console:

`Uncaught ReferenceError: jQuery is not defined`

I believe this can al

[2022-11-30 10:56] ianpegg opened #344 "Project Honeypot Error: could not query the IP"
**Describe the bug**
I originally raised this issue over on the [WordPress plugin forum](https://wordpress.org/support/topic/project-honeypot-error/) as I wasn't able to confirm whether it was a bug or not. I've not heard anything back over there, so forgive me if this isn't actually a bug (the generic nature of the error message in question makes it difficult for me to determine either way).

Her

[2022-11-30 12:11] ianpegg opened #345 "Uncaught TypeError: jQuery(...).ZeroSpamDavidWalsh is not a function"
**Describe the bug**
I've noticed an issue that only occurs when logged out. At first, I thought it might be a caching issue so I tested in my development environment without any form of caching enabled and the problem persisted.

This error pops up in the console when the David Walsh Technique is _disabled_. The davidwalsh.js script is therefore not loaded, however the following inline script is

[2022-11-30 15:48] #341 closed

[2022-11-30 15:49] bmarshall511 commented on #341
@michaelbragg Thanks for bringing this up, will be fixed in the next release.

[2022-11-30 15:55] #342 closed

[2022-11-30 15:55] bmarshall511 commented on #342
Thanks for submitting this, it'll be fixed in the next release.

[2022-11-30 16:06] bmarshall511 commented on #343
@leewillis77 Thanks for submitting this, it'll be fixed in the next release.

[2022-11-30 16:08] bmarshall511 commented on #345
Duplicate of https://github.com/Highfivery/zero-spam-for-wordpress/issues/343

[2022-11-30 16:31] bmarshall511 commented on #344
@ianpegg Thanks for bring this up, we've added additional debug info & check for a support IPv4 address (IPv6 aren't currently supported in Project Honeypot).